@use "./variable"as *;

@mixin vertical-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

@mixin flex-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-align-start {
  display: flex;
  align-items: flex-start;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-align-end {
  display: flex;
  align-items: flex-end;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-justify-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-space-around {
  display: flex;
  justify-content: space-around;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

@mixin action-button {
  border-radius: 40px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  min-width: 116px;
  margin: 0 auto;
  padding: 8px 24px;
  gap: 8px;
  @include flex-justify-center;
}

@mixin age-format {
  gap: 0px;
  margin: 0 0 -6px;

  &:nth-of-type(2) {
    margin-top: 0;
  }

  div {
    padding: 2px 15px 10px;
    font-size: 10px;
    font-weight: 500;
    color: var(--white);
    border-radius: 8px 8px 0 0;
    box-shadow: -5px 0 6px 0 rgba(0, 0, 0, 0.2);
    max-width: 87px;
    flex: 1;
    text-align: center;
    margin-left: -6px;

    &:first-child {
      margin-left: 0;
    }

    &.age60 {
      background: #3597b2;
      position: relative;
      z-index: 6;
    }

    &.age26 {
      background: var(--gradient-pink);
      position: relative;
      z-index: 5;
    }

    &.age18 {
      background: #f06c55;
      position: relative;
      z-index: 4;
    }

    &.age12 {
      background: var(--gradient-orange);
      position: relative;
      z-index: 3;
    }

    &.age6 {
      background: #7db8a8;
      position: relative;
      z-index: 2;
    }

    &.age0 {
      background: var(--green);
      position: relative;
      z-index: 1;
    }

    @media (max-width: $layout-breakpoint-large) {
      font-size: 8px;
      padding: 2px 10px 8px;
      max-width: 60px;
    }
  }
}

@mixin content-box {
  border-radius: 8px 8px 16px 16px;
  background: var(--secondary-color);
  padding: 12px 16px;
  position: relative;
  z-index: 9;

  .format {
    @include flex-center;
    margin: 0 0 12px;

    >div {
      gap: 8px;

      img {
        width: 24px;
      }
    }

    p {
      color: var(--gray300);
      font-size: 12px;
      font-weight: 400;
      margin: 0;
    }

    .dropdown {
      button {
        background: transparent;
        border: 0;
        padding: 0;
        min-width: initial;

        &:after {
          display: none;
        }

        img {
          width: 16px;
        }
      }

      .dropdown-menu {
        padding: 0px 0px;
        border: 0;
        border-radius: 12px 8px 12px 12px;
        background: var(--white);
        box-shadow: 0 4px 12px 0 rgba(181, 194, 211, 0.5);
        overflow: hidden;
        margin-top: -27px;

        a {
          color: var(--gray300);
          font-size: 14px;
          font-weight: 400;
          padding: 8px 16px;

          svg,
          img {
            margin-right: 12px;
          }

          img {
            width: 18px;
          }

          &:hover {
            background: #f4f6f9;
            color: var(--gray);
          }

          &:active {
            background: #e6f7f8;
            color: var(--green);

            svg {
              path {
                fill: var(--green);
              }
            }

            img {
              filter: drop-shadow(0px 1000px 0 var(--green));
              transform: translateY(-1000px);
            }
          }
        }
      }
    }
  }

  .heading {
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
    margin: 0 0 5px;
    line-height: 18px;
  }

  .subheading {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }

  .category {
    color: var(--gray300);
    font-size: 12px;
    font-weight: 400;
    margin: 16px 0;
    gap: 3px 8px;
    @include flex-wrap;
    white-space: nowrap;
    align-items: center;

    >div {
      @include flex-align-center
    }

    img {
      width: 12px;
      height: 12px;
      margin: 0 8px 0 5px;
      filter: drop-shadow(0px 1000000px 0 var(--gray300));
      transform: translateY(-1000000px);
    }
  }

  .tag-list {
    &.tags {
      border: 0;
      padding: 0;

      div {
        border-radius: 24px;
        background: rgba(76, 198, 207, 0.2);
        font-size: 12px;
        font-weight: 400;
        color: var(--green);
        padding: 1px 8px;

        &.f-tag {
          background: rgba(247, 149, 72, 0.2);
          color: var(--gradient-orange);
        }
      }
    }

    @media (max-width: $layout-breakpoint-small) {
      flex-direction: row;
    }
  }

  .favorite {
    margin-top: auto;
    font-size: 12px;
    font-weight: 500;
    color: var(--green);

    div {
      @include flex-align-center;
      gap: 8px;
      font-size: 14px;
      color: var(--gray300);
    }

    img {
      width: 32px;
      margin-left: -4px;
    }
  }

  .question {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 7px;
    word-break: break-word;
  }

  .region {
    color: var(--text-color);
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 13px;
    word-break: break-word;
  }

  .tags {
    gap: 6px 12px;
    display: flex;
    margin: 0 0 13px;
    padding: 0 0 13px;
    border-bottom: 1px solid rgba(93, 118, 130, 0.3);

    div {
      border-radius: 2px;
      background: rgba(0, 173, 186, 0.1);
      padding: 2px 6px;
      color: var(--dark-green);
      font-size: 10px;
    }
  }

  .answer {
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 8px;
    word-break: break-word;

    span {
      font-size: 10px;
      font-weight: 500;
      color: var(--text-color);
      margin: 0 0 1px;
      display: block;
    }
  }

  .date {
    color: var(--gray);
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 7px;
  }
}

@mixin outer-box {
  padding: 16px;
  @include flex-align-start;
  flex-direction: column;
  width: 100%;
}

@mixin switch {
  width: 192px;
  padding: 4px 4px;
  margin: 0;
  position: relative;
  border-radius: 40px;
  background: var(--white100);
  box-shadow: 0 0 8px 0 rgba(0, 39, 59, 0.5);
  max-width: 192px;

  .switch-light {
    display: block;
    height: 24px;
    position: relative;
    overflow: visible;
    padding: 0px;
    margin-left: 0px;

    input {
      opacity: 0;
      display: none;
    }

    >span {
      text-align: left;
      top: auto;
      position: absolute;
      top: 0px;
      left: 0;
      margin: 0;
      width: 100%;
      display: flex;

      span {
        z-index: 5;

        &.active {
          color: var(--white);
          border-radius: 40px;
        }

        font-size: 14px;
        font-weight: 400;
        color: var(--green);
        display: block;
        text-align: center;
        padding: 1px;
        cursor: pointer;
        line-height: 22px;


        &:first-child {
          width: 116px;
        }

        &:last-child {
          width: 70px;
        }
      }
    }

    a {
      &.btn {
        position: absolute;
        right: 36%;
        top: 0px;
        z-index: 4;
        display: block;
        width: 116px;
        padding: 16px;
        border: 0;
        color: var(--white);
        transition: all 0.3s ease-in-out;
        background: var(--green);
        box-shadow: 0px 0px 4px rgba(0, 102, 190, 0.2);
        border-radius: 30px;
        margin: 0 auto;
      }
    }

  }

  input[type=checkbox] {
    &:checked {
      ~a {
        &.btn {
          right: 0;
          left: auto;
          width: 79px;
        }
      }
    }
  }

  @media (max-width: $layout-breakpoint-medium) {
    width: 160px;

    .switch-light {
      >span {
        span {
          &:first-child {
            width: 95px;
            font-size: 12px;
          }

          &:last-child {
            width: 57px;
            font-size: 12px;
          }
        }
      }
    }
  }

  @media (max-width: $layout-breakpoint-small) {
    width: 184px;

    .switch-light {
      >span {
        span {
          &:first-child {
            width: 116px;
            font-size: 14px;
          }

          &:last-child {
            width: 60px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@mixin split-btn {
  max-width: 448px;
  min-width: 60px;
  padding: 14px 50px 14px 56px;
  font-size: 14px;
  font-family: var(--font-family);
  line-height: 20px;
  background: var(--white) url(/assets/images/dropdown-arrow-orange.svg) no-repeat 94% center;
  box-shadow: 0 0 8px 0 rgba(181, 194, 211, 0.4);
  border-radius: 40px;
  border: 0;
  color: var(--gray);
  font-weight: 400;
  text-align: left;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

@mixin split-btn-dropdown {
  width: 100%;
  border: 0.5px solid rgba(0, 102, 190, 0.06);
  box-sizing: border-box;
  box-shadow: 0 0 20px -3px rgb(0 102 190 / 18%);
  border-radius: 15px;
  width: 100%;
  padding: 8px;
  max-height: 170px;

  >div {
    height: 100%;
    overflow-y: auto;
    max-height: 152px;
    transition: all 0.3s ease-in-out;
    padding-right: 2px;

    div {
      font-size: 14px;
      padding: 8px 10px;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        background-color: var(--secondary-color);
      }
    }
  }

}

@mixin shapes {
  width: 44.8px;
  height: 44.8px;
  color: #256d81;
  background: linear-gradient(135deg, #256d81, #3db4d4) top left,
    linear-gradient(135deg, var(--gradient-pink), #df4c67) top right,
    linear-gradient(135deg, #f89548, #e69457) bottom right,
    linear-gradient(135deg, #01adba, #62c5cc) bottom left;
  background-size: 23.4px 23.4px;
  background-repeat: no-repeat;
  animation: loader-shapes 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes loader-shapes {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }

  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 67.2px;
    height: 67.2px;
  }

  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 67.2px;
    height: 67.2px;
  }

  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}

@mixin dots {
  .dots {
    width: 56px;
    height: 13.4px;
    background: radial-gradient(circle closest-side, #01adba 90%, #0000) 0% 50%,
      radial-gradient(circle closest-side, #01adba 90%, #0000) 50% 50%,
      radial-gradient(circle closest-side, #01adba 90%, #0000) 100% 50%;
    background-size: calc(100% / 3) 100%;
    background-repeat: no-repeat;
    animation: dots-animation 1s infinite linear;
  }

  @keyframes dots-animation {
    33% {
      background-size: calc(100% / 3) 0%, calc(100% / 3) 100%,
        calc(100% / 3) 100%;
    }

    50% {
      background-size: calc(100% / 3) 100%, calc(100% / 3) 0%,
        calc(100% / 3) 100%;
    }

    66% {
      background-size: calc(100% / 3) 100%, calc(100% / 3) 100%,
        calc(100% / 3) 0%;
    }
  }
}

@mixin show-more-btn {
  @include flex-align-center;
  gap: 8px;
  background: transparent;
  border: none;
  border-radius: 40px;
  padding: 0px 0px 0 16px;
  font-size: 14px;
  color: var(--gray);
  cursor: pointer;
  white-space: nowrap;

  &:active {
    background-color: transparent;
  }

  img {
    width: 16px;
    height: 16px;
  }

  &:hover {
    color: var(--white);

    img {
      filter: brightness(0) invert(1);
    }
  }
}



.form-group {
  ::-webkit-scrollbar-track {
    background: rgba(148, 167, 191, 0.2);
  }
}

@mixin box-shadow {
  background: #183B4D;
  fill: rgba(255, 255, 255, 0.02);
  filter: drop-shadow(0 0 8px rgba(0, 39, 59, 0.5));
}

@mixin message {
  border-radius: 8px 12px 12px 8px;
  border-left: 5px solid var(--green);
  background: rgba(148, 167, 191, 0.06);
  padding: 8px 30px 8px 8px;
  @include flex-align-start;
  gap: 10px;

  .text-muted {
    font-size: 13px;
    color: var(--gray300) !important;
    font-weight: 400;
    margin: 0;
  }
}

@mixin form-label {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 600;

  span {
    font-weight: 300;
    font-size: 13px;
  }
}

@mixin cancel {
  position: relative;
  background: var(--white);
  font-weight: 500;
  color: transparent;
  background-image: linear-gradient(97deg, var(--gradient-orange) 0%, var(--gradient-pink) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 40px;
    padding: 1px;
    background: linear-gradient(97deg, var(--gradient-orange) 0%, var(--gradient-pink) 100%);
    -webkit-mask:
      linear-gradient(var(--white) 0 0) content-box,
      linear-gradient(var(--white) 0 0);
    mask:
      linear-gradient(var(--white) 0 0) content-box,
      linear-gradient(var(--white) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: -1;
  }

  &:hover {
    background-color: rgba(254, 244, 237, 0.5);
  }
}

@mixin ask-ibu-question {
  .question-header {
    background: linear-gradient(97deg, var(--green) 0%, var(--gradient-orange) 51.44%, var(--gradient-pink) 100%);
    box-shadow: -5px 0 6px 0 rgba(0, 0, 0, 0.20);
    color: var(--white);
    font-size: 10px;
    font-weight: 400;
    padding: 4px 16px 6px 16px;
    border-radius: 12px 12px 0 0;
    margin-bottom: -5px;
    @include flex-justify-between;

    .question-label {
      display: inline-block;
    }

    .answer-status {
      @include flex-align-center;
      gap: 4px;
    }
  }

  .content-box {
    padding: 12px 16px;

    .question-section {
      border-bottom: 1px solid #D4DCE5;
      margin: 0 0 12px;

    .heading {
      font-weight: 600;
      font-size: 14px;
      color: #5E7683;
      margin-bottom: 8px;
    }

    .region {
      font-size: 12px;
      font-weight: 400;
      color: var(--gray);
      margin: 0 0 12px;
    }

    .edit-input {
      width: 100%;
      border-radius: 40px;
      padding: 12px 24px;
      font-size: 14px;
      font-weight: 400;
      outline: none;
      resize: none;
      height: 48px;
      background: #fff;
      margin-bottom: 12px;
      color: #0F2F44;
      box-shadow: 0 0 8px 0 rgba(181, 194, 211, 0.40);
      border: none;
      color: #5E7683;

      &::placeholder {
        color: #9CA3AF;
      }

      .region {
        font-size: 12px;
        font-weight: 400;
        color: var(--gray);
      }

      .edit-input {
        width: 100%;
        border-radius: 40px;
        padding: 12px 24px;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        resize: none;
        height: 48px;
        background: var(--white);
        margin-bottom: 3px;
        color: #0F2F44;
        box-shadow: 0 0 8px 0 rgba(181, 194, 211, 0.40);
        border: none;

        &::placeholder {
          color: #9CA3AF;
        }

        &:focus {
          border-color: var(--gradient-orange);
          box-shadow: 0 0 0 2px rgba(247, 149, 72, 0.3);
        }
      }
    }

    .footer {
      @include flex-center;
      padding-top: 0px;

      .q-actions {
        @include flex-end;
        align-items: center;
        gap: 12px;

        .icon-btn {
          background: transparent;
          border: none;
          cursor: pointer;
          width: 32px;
          height: 32px;
          padding: 4px;
          @include flex-middle;
          border-radius: 50%;
          transition: 0.3s ease, transform 0.2s ease;

          &.edit {
            background: var(--green);

            img {
              filter: brightness(0) invert(1);
            }

            &:hover {
              background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), var(--green);
            }
          }

          &.delete {
            &:hover {
              background: var(--pink);

              img {
                filter: brightness(0) invert(1);

              }
            }
          }

          img {
            width: 16px;
            height: 16px;
            transition: filter 0.3s ease;
          }

          &:hover {
            background: var(--green);

            img {
              filter: brightness(0) invert(1);
            }
          }
        }

        .cancel-btn,
        .save-btn {
          border-radius: 50px;
          padding: 5px 14px;
          font-size: 14px;
          font-weight: 400;
          cursor: pointer;
          border: none;
          min-width: 93px;
        }

        .cancel-btn {
          background: transparent;
          border-radius: 40px;
          color: var(--green);
          border: 1px solid  var(--green);

          &:hover {
            background: rgba(24, 59, 77, 0.05);
          }
        }

        .save-btn {
          background: var(--green);
          color: var(--white);

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }

    /* Existing Answer Section */
    .answer-section {
      padding-top: 2px;

      .answer-label {
        font-weight: 400;
        font-size: 10px;
        display: inline-block;
        background: linear-gradient(97deg, var(--gradient-orange) 0%, var(--gradient-pink) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
      }

      .answer {
        color: var(--primary-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
      }

      .q-tags {
        border: none !important;
        @include flex-wrap;
        gap: 8px;
        margin: 10px 0px;

        div {
          border-radius: 24px;
          background: rgba(76, 198, 207, 0.2);
          font-size: 12px;
          font-weight: 400;
          color: var(--green);
          padding: 1px 8px;

          &.f-tag {
            background: rgba(247, 149, 72, 0.2);
            color: var(--gradient-orange);
          }
        }
      }

      .date {
        margin: 0;
      }
    }
  }
    .footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 12px;

    .q-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 12px;

    .icon-btn {
     background: transparent;
     border: none;
     cursor: pointer;
     width: 32px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%; 
     transition: background 0.3s ease, transform 0.2s ease;

      &.edit{
       background: #4CC6CF;
       img{
       filter: brightness(0) invert(1);
       }
     }
     img {
      width: 16px;
      height: 16px;
      transition: filter 0.3s ease;
   }

  &:hover {
    background: #4CC6CF;
    img {
      filter: brightness(0) invert(1);
    }
  }
}
.cancel-btn,
.save-btn {
    border-radius: 50px;
    padding: 7px 24px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border: none;
}

.cancel-btn {
    background: transparent;
    border-radius: 40px;
    color: #4CC6CF;
    border: 1px solid var(--secondary-aqua, #4CC6CF);

    &:hover {
       background: rgba(24, 59, 77, 0.05);
     }
   }

.save-btn {
   background: #4CC6CF;
   color: #fff;

  &:hover {
     opacity: 0.9;
  }

    &:active {
          // transform: scale(0.98);
    }
  }
}
  .date {
   margin: 0;
  }
}

 /* Existing Answer Section */
 .answer-section {
  padding-top: 12px;

  .answer-label {
   font-weight: 400;
   font-size: 10px;
   display: inline-block;
   background: linear-gradient(97deg, #F79548 0%, #E94262 100%);
   background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  }
  .answer {
    color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  .q-tags {
   border: none !important;
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
   margin: 10px 0px;

    div {
    border-radius: 24px;
    background: rgba(76, 198, 207, 0.2);
    font-size: 12px;
    font-weight: 400;
    color: var(--green);
    padding: 1px 8px;

     &.f-tag {
       background: rgba(247, 149, 72, 0.2);
       color: var(--gradient-orange);
       }
    }
}
 }
}
}
