$primary-color: #183B4D;
$secondary-color: #F4F6F9;
$text-color:#5D7682;
$gray: #94A7BF;
$dark-green: #00ADBA;
$fontFamily: 'Poppins', sans-serif;
$raleway-font: "Raleway", sans-serif;
$sofia-font: 'Sofia Pro';
$white: #FFFFFF;
$light-gray: #A3A3A3;
$pink:#d61975;
$gradient-orange:#F79548;
$gradient-pink:#E94262;

$layout-breakpoint-extraSmall: 576px;
$layout-breakpoint-small: 767px;
$layout-breakpoint-medium: 991px;
$layout-breakpoint-large: 1199px;
$layout-breakpoint-extraLarge: 1399px;
$layout-breakpoint-xextraLarge: 1500px;
