$primary-color: #183B4D;
$secondary-color: #F4F6F9;
$text-color:#5D7682;
$gray: #94A7BF;
$dark-green: #00ADBA;
$green: #4CC6CF;
$fontfamily: 'Sofia Pro';
$white: #FFFFFF;
$light-gray: #A3A3A3;
$light-gray100: #B5C2D3;
$pink:#d61975;
$gradient-orange:#F79548;
$gradient-pink:#E94262;
$border-color:#5E7683;
$white100: rgba(253, 254, 255, 0.08);
$black: #000000;
$success: #3CAC8E;


:root{
--primary-color: #{$primary-color};
--secondary-color:#{$secondary-color};
--text-color:#{$text-color};
--gray:#{$gray};
--white:#{$white};
--dark-green:#{$dark-green};
--green:#{$green};
--light-gray:#{$light-gray};
--light-gray100:#{$light-gray100};
--pink:#{$pink};
--gradient-orange:#{$gradient-orange};
--gradient-pink:#{$gradient-pink};
--gray100:#{$light-gray100};
--gray300:#{$border-color};
--font-family:#{$fontfamily};
--white100:#{$white100};
--black: #{$black};
--success: #{$success};

}


[data-bs-theme='dark']{
    --primary-color: #{$primary-color};
    --primary-gradient:  linear-gradient(97deg, var(--gradient-orange) 0%, var(--gradient-pink) 100%);
    --green: #{$green};
    --white100:#{$white};
}



$layout-breakpoint-xextraLarge: 1500px;
$layout-breakpoint-xlarge: 1440px;
$layout-breakpoint-extraLarge: 1399px;
$layout-breakpoint-xxlarge: 1280px;
$layout-breakpoint-large: 1199px;
$layout-breakpoint-medium: 990px;
$layout-breakpoint-small: 767px;
$layout-breakpoint-extraSmall: 576px;
