@use "./variable"as *;
@use "./mixin"as *;


@media (max-width: $layout-breakpoint-xextraLarge) {

    .login-left {
        background-size: 550px;

        .vwd-journey {
            .vwd-logo {
                img {
                    max-width: 260px;
                }
            }

            p {
                max-width: 542px;
            }
        }
    }
}
// ---------------home-page ui----------------
@media (max-width: 1680px) {
  .journey-box {
    flex-direction: row;
    gap: 24px;

    .explore-journey {
      .age-filter-block {
        
        .block {
          margin: -24px 0 0;

          &:nth-child(even) {
            margin: 24px 0 -24px;

            .age-group-circle {
              margin: 15px 0 0;
            }
          }
        }

        .age-group-circle {
          margin: 0px 0 15px;
        }
      }
    }
  }
}

// ---------- Large-screen: 1440X1024---------------------
@media (max-width: $layout-breakpoint-xlarge) {
  .journey-box {
    flex-direction: column;
    
    .journey-box-right {
      width: 100%;
      flex-direction: row;
      opacity: 0;
      transform: translateY(90px);
      animation: colslideUp 2.1s ease-out forwards;

      @keyframes colslideUp {
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .explore-box {
        padding: 24px;
        height: 240px;
      }

      .faq { order: 1; }
      .latest-content { order: 2; }
      .ask-ibu { order: 3; }
    }

    .journey-boxes {
      height: 100%;

      .right-side {
        &.latest-content {
          .data-box {
            .touchpoint-data-boxes {
              gap: 3.6rem 2.7rem;

              .detail-data-box {
                max-width: calc(50.3% - 2.7rem);
                min-width: 311px;
                margin: 0;
                box-sizing: border-box;
              }
            }
          }
        }
      }

      .left-side {
        .explore-box {
          &.faq,
          &.latest-content {
            padding: 24px;
          }
        }
      }
    }

    .explore-journey {
      .filter-age {
        h3 {
          top: 50px;
        }
      }

      .explore-btn {
        bottom: 10%;
      }

      .age-filter-block {
        
        .block {
           margin: -20px 0 0;

          &:nth-child(even) {
          margin: -7px 0 -24px;
          }
        }
      }
    }
  }
}

// ---------- Standard Laptop Srceen: 1366X768---------------------
@media (max-width: 1366px) {
  .journey-box {

    .explore-journey {
      .age-filter-block {
        
        .block {
      margin: -26px 0 0;

          &:nth-child(even) {
            margin: -1px 0 -24px;
          }
        }
      }
    }
  }
}
// ----------Small laptop Screen: 1280X720-----------------------
 @media (max-width: $layout-breakpoint-xxlarge) {
    .header{
        padding: 0 !important;
    }
    .main-page{
        padding: 0 !important;
    }
    .journey-box {
     flex-direction: row;
     gap: 24px;

     .journey-boxes{
        .left-side{
           width: 395px;
           flex: 0 0 395px;
        }
      .right-side {
        &.latest-content{
        .data-box .touchpoint-data-boxes {
         gap: 3.6rem 2rem;

        .detail-data-box {
         max-width: calc(50.3% - 2rem);
         min-width: 280px;
        }
      }
    }
  }
     }

    .journey-box-right{
        width: 395px;
        gap: 24px;
        flex-direction: column;
        opacity: 0;
        transform: translateX(120px);
        animation: slideLeft 1.8s ease-out forwards;

        @keyframes slideLeft {
       to {
         opacity: 1;
         transform: translateX(0);
         }
        }
      .ask-ibu { order: 1; }
      .latest-content { order: 2; }
      .faq { order: 3; }

      .explore-box{
        height: 100%;
      }
}
    .explore-journey{
    .filter-age{
        h3{
            top: 65px;
            font-size: 24px;
        }
    }
     .age-filter-block {
     .age-group-circle {
      width: 80px;
      height: 80px;
      padding: 6px;
      margin: 0px 0 15px;

     img {
      width: 68px;
     }
   }

  .block {
    font-size: 14px;
    margin: -23px 0 0;

    &:nth-child(even) {
      margin: 31px 0 -24px;

      .age-group-circle {
        margin: 15px 0 0px;
      }

      .line {
        margin-bottom: 0;
        margin-top: -8px;

        &:after {
          bottom: 0;
        }
      }

      p {
        margin: 14px 0 0;
      }
    }
    .age-gap {
      font-size: 10px;
       }
     }
   }
   .explore-btn a {
    font-size: 14px;
   }
  }
  .explore-box{
    img{
        width: 24px;
    }
    h6{
        font-size: 16px !important;
    }
     p {
    font-size: 14px;
  }
  }
}
}
@media (max-width: $layout-breakpoint-extraLarge) {
    .login-left {
        background-size: 448px;
        padding: 24px 48px;

        .vwd-journey {
            gap: 8px;

            .vwd-logo {
                img {
                    max-width: 195px;
                }
            }

            h6 {
                font-size: 16px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .login-right {
        .login-box {
            h5 {
                font-size: 20px;

                br {
                    display: none;
                }
            }

            .user-name {
                h3 {
                    font-size: 28px;
                    margin: 0 0 40px;

                    span {
                        font-size: 32px;
                        margin: 4px 0 0;
                    }
                }
            }
        }

        .login-form {
            form {
                gap: 32px;

            }
        }
    }

    .login {
        padding: 20px 10px;

        &.sso-login {
            .login-logo {
                img {
                    width: 200px;
                }
            }

            button {
                padding: 13px 25px;
            }
        }
    }

    .touchpoints-section {
        padding: 0 12px;

        .touchpoint-box {
            .touchpoints-header {
                .touchpoint-links {
                    gap: 5px;

                    button {
                        font-size: 12px;

                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }

    .content-count-box {
        .content-count {
            gap: 25px;
        }

        .touchpoint-data-boxes {
            gap: 2.6rem 3rem;

            .detail-data-box {
                width: calc(33.33% - 2rem);
            }
        }
    }

    .header {
        padding: 0 12px;
    }

    .main-page {
        // padding: 0 12px;
    }

    .touchpoints-section {
        .journey-link-list {
            padding: 8px 10px 0px 24px;
            margin-right: -10px;
        }
    }
}

@media (max-width: 1365px) {
    .content-count-box {
        .content-count {
            gap: 18px;
        }

        .touchpoint-data-boxes {
            gap: 2.2rem 2.5rem;

            .detail-data-box {
                width: calc(33.33% - 1.7rem);
            }
        }
    }

    .touchpoints-section {
        .touchpoint-box {
            .touchpoints-header {
                .touchpoint-links {
                    button {
                        padding: 7px 13px;
                    }
                }
            }
        }
    }
}

@media (max-width: $layout-breakpoint-large) {
    .login-left {
        background-size: 350px;
        padding: 20px 35px;

        .terms {
            gap: 20px;

            div {
                a {
                    font-size: 12px;
                }
            }
        }

        .vwd-journey {
            .vwd-logo {
                margin: 0 0 22px;
            }
        }

    }

    .login-right {
        border-radius: 130px 0 0 0;

        &:before {
            left: -270px;
            width: 270px;
            height: 270px;
            border-radius: 41%;
        }

        .login-form {
            margin: 15px 0 10px;

            form {
                max-width: 380px;
                gap: 18px;

                .form-group {
                    .split-button {
                        >div {
                            &:nth-child(3) {
                                padding: 12px 50px 12px 56px;
                            }
                        }

                        &+span {
                            top: 44px;
                        }
                    }
                }

                .message {
                    .text-muted {
                        line-height: 130%;
                    }
                }
            }
        }
    }

    .login {
        &.sso-login {
            .login-logo {
                img {
                    width: 175px;
                }
            }

            .user-name {
                h1 {
                    margin: 25px 0;
                }
            }

        }

        .login-form {
            margin: 15px 0 10px;

            form {
                gap: 20px;

                .form-group {
                    .split-button {
                        >div {
                            &:nth-child(3) {
                                padding: 12px 46px 12px 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .touchpoints-section {
        .touchpoint-box {
            height: calc(100% - 121px);

            .touchpoints-header {
                padding: 0px 16px;

                .touchpoint-links {
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin: 8px 0 8px;

                    button {
                        font-size: 11px;
                        padding: 7px 8px;
                        line-height: 14px;
                        min-width: auto;

                        img {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
            }

            .touchpoint-box-inner {
                padding: 0 11px 0 16px;
            }

            .tags {
                margin: 0 0 20px;
            }
        }

        .userImg {
            width: 40px;
            height: 40px;
        }

        .patient-journey {
            gap: 12px;
        }

        .journey-link-list {
            // padding: 8px 10px 0px 10px;

            .journey-link {
                .user-category {
                    min-width: 110px;
                    padding: 13px 5px 17px;
                }
            }
        }

        .message-info {
            padding: 18px;
            margin: 0 0 20px;
        }
    }

    .content-count-box {
        .content-count {
            gap: 15px;


            .filter {
                font-size: 11px;
            }
        }

        .touchpoint-data-boxes {
            gap: 2rem 2rem;

            .detail-data-box {
                width: calc(33.33% - 1.4rem);
                min-width: initial;
            }
        }
    }
  .account-section{
     .account-tabs{
       .touchpoint-data-boxes{
            gap: 4.7rem 2rem;

         .detail-data-box {
         min-width: initial;
         width: calc(33.33% - 1.4rem);
        }   
       } 
     }
}
    .header {
        .header-inner {
            .navbar-brand {
                width: 220px;
            }
        }

        .nav {
            .navbar-nav {
                gap: 30px;
            }
        }
    }

    .tags {
        .tag-list {
            button {
                padding: 0px 0px 0 9px;
                font-size: 13px;
            }
        }
    }

    .btn-primary {
        font-size: 14px;
        padding: 4px 16px;
        min-width: 75px;
    }

    // .dark-progress {
    //     top: 16px !important;
    //     bottom: 2px !important;
    // }
    .journey-box {
     flex-direction: column;

     .journey-boxes{
        .left-side{
           width: 395px;
           flex: 0 0 395px;
        }
     }

    .journey-box-right{
        width: 100% !important; 
        gap: 24px;
        flex-direction: row;
        opacity: 0;
        transform: translateY(90px);
        animation: colslideUp 2.1s ease-out forwards;

      @keyframes colslideUp {
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .ask-ibu { order: 1; }
      .latest-content { order: 2; }
      .faq { order: 3; }
}
    .explore-journey{
    .filter-age{
        h3{
            top: 65px;
            font-size: 24px;
        }
    }
     .age-filter-block {
     .age-group-circle {
      width: 80px;
      height: 80px;
      padding: 6px;
      margin: 0px 0 15px;

     img {
      width: 68px;
     }
   }

  .block {
    font-size: 14px;
    margin: -23px 0 0;

    &:nth-child(even) {
      margin: 31px 0 -24px;

      .age-group-circle {
        margin: 15px 0 0px;
      }

      .line {
        margin-bottom: 0;
        margin-top: -8px;

        &:after {
          bottom: 0;
        }
      }

      p {
        margin: 14px 0 0;
      }
    }
    .age-gap {
      font-size: 10px;
       }
     }
   }
   .explore-btn a {
    font-size: 14px;
   }
  }
  .explore-box{
    img{
        width: 24px;
    }
    h6{
        font-size: 16px !important;
    }
     p {
    font-size: 14px;
  }
  }
}
}

@media (max-width: 991px) {
    .header {
        .nav {
            .navbar-nav {
                flex-direction: row;
            }
        }
    }
}

@media (max-width: $layout-breakpoint-medium) {

    .login {
        .login-box {
            .login-logo {
                img {
                    width: 130px;
                }
            }
        }
    }

    h6 {
        font-size: 18px;
    }

    .header {
        .header-inner {
            padding: 0;
        }

        .nav {
            .navbar-nav {
                flex-direction: row;
            }
        }

        .header-account {
            .switch {
                width: 140px;
                margin: 0 !important;
                display: none;

                &:after {
                    display: none;
                }

                .switch-light {
                    >span {
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }

            .logout {
                display: none;
            }
        }

        .custom-toggler {
            .navbar-toggler-icon {
                filter: drop-shadow(0px 1000px 0 var(--gray));
                transform: translateY(-1000px);
            }
        }
    }

    .touchpoints-section {
        padding: 0px;

        .touchpoint-box {
            height: calc(100% - 106px);

            .touchpoints-header {
                padding: 0px 12px;

                .touchpoint-links {
                    gap: 12px;
                    flex-wrap: nowrap;
                    white-space: nowrap;
                    overflow-x: auto;

                    button {
                        font-size: 12px;
                        padding: 8px 16px;
                    }
                }
            }

            // .dummy_data{
            //     max-height: initial!important;
            //     padding:40px 12px 32px!important;
            //     margin:0 0 60px!important;
            //     .close-icon{
            //         padding: 7px 13px!important;
            //     }
            // }
            .touchpoint-box-inner {
                padding: 0 12px;
            }
        }

        .journey-link-list {
            gap: 0.2 !important;
            margin-left: 0;

            .journey-link {
                div {
                    font-size: 12px;
                }

                .user-category {
                    min-width: 100px;
                    padding: 10px 4px 12px;
                }
            }

            .journey-link-box {
                height: 52px !important;
                border-radius: 18px 18px 0px 0px !important;

                &:before {
                    left: -34px;
                    width: 34px;
                    height: 34px;
                }

                &:after {
                    right: -34px;
                    width: 34px;
                    height: 34px;
                }
            }
        }

        .patient-journey {
            gap: 10px;
            .switch{
                .switch-light{
                    a{
                    &.btn{
                            width: 48px;
                            right: 54px;
                    }
                }
                }
            }
        }

        .switch {
            flex: 0 0 110px;

            .switch-light {
                >span {
                    span {
                        font-size: 12px;

                    }
                }
                
            }
            input[type="checkbox"]{
                &:checked{
                    ~a{
                        &.btn{
                            width:55px;
                        }
                    }
                }
            }
        }
    }

    .content-count-box {
        .content-count {
            flex-wrap: nowrap;
            overflow-x: auto;
            gap: 30px;
            white-space: nowrap;
            margin: 0 -12px 36px -12px;
            padding: 12px 30px 12px 12px;
        }

        .touchpoint-data-boxes {
            .detail-data-box {
                width: calc(50% - 1rem);
            }
        }
    }

    .login-left {
        padding: 20px;
        background-size: 220px;

        .terms {
            gap: 5px 15px;
            flex-wrap: wrap;
            justify-content: flex-start;

            div {
                a {
                    font-size: 10px;
                }
            }
        }

        .vwd-journey {
            h6 {
                font-size: 13px;
            }

            p {
                font-size: 12px;
                line-height: 16px;
            }

            .vwd-logo {
                margin: 0 0 10px;

                img {
                    max-width: 155px;
                }
            }
        }
    }

    .login-right {
        padding: 20px;
        border-radius: 100px 0 0 0;

        &:before {
            left: -250px;
            width: 250px;
            height: 250px;
            border-radius: 32%;
        }

        .login-box {
            .user-name {
                h3 {
                    font-size: 24px;
                    margin: 0 0 25px;
                }
            }

            h5 {
                font-size: 18px;
            }
        }

        .login-form {
            form {
                position: relative;

                .form-group {
                    .split-button {
                        >div {
                            &:nth-child(3) {
                                padding: 10px 50px 10px 48px;
                            }
                        }

                        &+span {
                            left: 18px;
                            top: 33px;

                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    label {
                        margin-bottom: 6px;
                        font-size: 14px;

                        span {
                            font-size: 11px;
                        }
                    }
                }

                .message {
                    padding: 8px 14px 8px 8px;

                    .text-muted {
                        line-height: 130%;
                    }
                }

                .login-switch {
                    .form-label {
                        font-size: 14px;
                        margin: 0 0 7px;
                    }

                    .switch {
                        .switch-light {
                            a {
                                &.btn {
                                    width: 95px;
                                    right: 37%;
                                }
                            }

                            input[type="checkbox"]:checked {
                                &~a {
                                    &.btn {
                                        width: 57px;
                                    }
                                }
                            }
                        }
                    }
                }

                button {
                    font-size: 14px;
                    padding: 7px 15px;
                    min-width: 125px;
                }
            }
        }
    }

    .login-page {
        &.sso {
            .login-right {
                .login-form {
                    form {
                        .message {
                            margin-bottom: 26px;
                        }

                        button {
                            font-size: 14px;
                            padding: 7px 15px;
                        }
                    }
                }
            }
        }
    }

    .validation {
        margin-top: 5px;
    }

    .custom-offcanvas {
        background: #183B4D;
    }

    .journey-box {
        .explore-journey {
            h5 {
                font-size: 18px;
            }
        }
        .journey-boxes {
         .right-side {
           &.latest-content {
             .data-box {
               .touchpoint-data-boxes {
                 .detail-data-box {
                   max-width: calc(100% - 2rem);
                 }
               }
             }
           }
         }
       }
    }

    .patient-journey {
        .journey-link {
            font-size: 12px;
        }
    }

    .content-count::-webkit-scrollbar,
    .touchpoint-links::-webkit-scrollbar,
    .journey-link-list::-webkit-scrollbar {
        width: 2px;
        height: 3px;
        display: none;
    }

    .no-data {
        gap: 20px;
        min-height: 300px;

        h5 {
            font-size: 20px;
            line-height: 28px;
        }
    }

    [data-bs-theme=dark] {
        .header {
            &.sticky {
                background: linear-gradient(50deg, var(--gradient-orange) 0%, var(--gradient-pink) 100%);
            }

            .custom-toggler {
                .navbar-toggler-icon {
                    filter: none;
                    transform: translateY(0px);
                }
            }
        }

        .touchpoints-section {

            &.age0,
            &.age6,
            &.age12,
            &.age18,
            &.age26 {
                .journey-link-list {
                    .journey-link {
                        &.active {
                            ~.journey-link-box {
                                &:before {
                                    width: 20px;
                                    height: 21px;
                                    left: -20px;
                                }

                                &:after {
                                    width: 20px;
                                    height: 20px;
                                    right: -20px;
                                }
                            }
                        }
                    }
                }
            }

            .touchpoint-box {
                &.resource-container {
                    margin-top: 8px;

                    .search-bar {
                        padding: 0 12px;
                    }

                    .tags {
                        padding: 0 12px;
                    }
                }
            }
        }

        .custom-offcanvas {
            .offcanvas-header {
                .btn-close {
                    filter: brightness(0) invert(1);
                    opacity: 1;
                }
            }
        }
    }
.account-section{
    .account-header{
        flex-direction: column;
        .profile,
        .content-download{
            width: 100%;
        }
    }
    .account-tabs {
        .touchpoint-data-boxes {
            gap: 2rem 2rem;

            .detail-data-box{
                width: calc(50% - 1rem);
            }
          }
      }
   }
}

@media (max-width: $layout-breakpoint-small) {
    .login {
        padding: 20px 15px;

        &.sso-login {
            .login-logo {
                img {
                    width: 145px;
                }
            }

            button {
                padding: 10px 19px;
                font-size: 14px;
            }

        }

        .login-box {
            .user-name {
                h6 {
                    margin: 0 0 15px;
                }
            }
        }

        .login-form {
            margin: 15px 0 10px;

            form {
                gap: 20px;

                .form-group {
                    .split-button {
                        >div {
                            &:nth-child(3) {
                                padding: 10px 40px 10px 18px;

                                div {
                                    font-size: 13px;
                                }
                            }

                            &:nth-child(4) {
                                >div {
                                    div {
                                        font-size: 13px;
                                        padding: 6px 10px;
                                    }
                                }
                            }
                        }
                    }

                    label {
                        margin-bottom: 6px;
                        font-size: 13px;

                        span {
                            font-size: 11px;
                        }
                    }
                }

                .text-muted {
                    font-size: 11px;
                }
            }
        }
    }

    h6 {
        font-size: 16px;
    }

    .validation {
        font-size: 13px;
    }

    .login-page {
        background: linear-gradient(141deg, #4CC6CF 40.73%, #DF9C5B 64.64%, #F79548 71.06%, #F58B4B 77%, #F06A55 84.67%, #E94262 100%);

        .row {
            flex-direction: column-reverse;
        }

        &.sso {
            .login-right {
                padding: 106px 24px 122px;

                .login-form {
                    margin: 3px 0 0;

                    form {
                        .message {
                            padding: 11px 8px 11px 8px;
                            margin-bottom: 16px;

                            .text-muted {
                                font-size: 12px;
                            }
                        }

                        button {
                            font-size: 16px;
                            padding: 8px 15px;
                        }
                    }
                }
            }
        }
    }

    .login-right {
        min-height: initial;
        padding: 40px 24px 25px;
        border-radius: 0 0 0 80px;
        filter: drop-shadow(0 17px 18px rgba(0, 0, 0, 0.08));

        .login-form,
        .share-modal {
            form {
                .login-switch {
                    .switch {
                        .switch-light {
                            height: 24px;

                            >span {
                                span {
                                    padding: 1px 1px;
                                }
                            }

                            a {
                                &.btn {
                                    width: 116px;
                                    right: 34%;
                                    padding: 12px;
                                }
                            }

                            input[type="checkbox"]:checked {
                                &~a {
                                    &.btn {
                                        width: 60px;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        .login-form {
            margin: 32px 0 10px;

            form {
                gap: 32px;

                .form-group {
                    label {
                        span {
                            font-size: 10px;
                        }
                    }

                    .split-button {
                        +span {
                            left: 24px
                        }

                        >div {
                            &:nth-child(3) {
                                padding: 10px 50px 10px 52px;
                            }
                        }
                    }
                }

                button {
                    font-size: 16px;
                    padding: 8px 15px;
                    min-width: 142px;
                }

            }
        }

        &::before {
            left: auto;
            width: 160px;
            height: 160px;
            border-radius: 64%;
            box-shadow: 89px -74px 0 #ffffff;
            right: 0;
            bottom: -159px;
        }
    }

    .login-left {
        background: none;
        flex-direction: column-reverse;
        padding: 47px 24px 10px;

        .vwd-journey {
            .vwd-logo {
                margin: 0 0 18px;

                img {
                    width: 130px
                }
            }

            h6 {
                font-size: 14px;
                line-height: 18px;
            }

        }

        .terms {
            margin-top: 10px;
        }
    }

    .header {
        padding: 0 12px;

        .header-inner {
            .navbar-brand {
                width: auto;
                margin: 0;

                img {
                    max-width: 65px;
                }
            }

            .header-account {
                flex-direction: column-reverse;
                align-items: flex-end !important;

                .switch {
                    display: none;
                }
            }
        }
    }

    .offcanvas.offcanvas-end {
        width: 100%;
    }

    .journey-box {
        padding: 15px 0px 10px;
        flex-direction: column;
        gap: 15px;

    .journey-boxes{
        .left-side {
        width: 350px;
        flex: 0 0 350px;
        order: 2;
        display: none;
      }
        .right-side {
            padding: 16px 12px 0px 12px;
             &.ask-ibu{ 
             .box-top{
              padding: 0;
            }
            .data-box{
                .filter-section{
                    padding: 0 0 16px 0;
                    flex-direction: column-reverse;
                    gap: 5px;

                    .filter-box-overlay{
                        right: 8px;
                    }
                }
            .scroll-list{
              padding: 0;
              .scroll-list-inner{
                padding-right: 0;
                overflow-y: scroll;   
                -ms-overflow-style: none;  
                scrollbar-width: none; 
              }
            }
        }
        }
            .detail-data-box{ 
                .content-box{ 
                    .question-section{ 
                        .heading{
                            color: var(--primary-color);
                        }
                    }
                    .answer-section{
                       .answer{
                        color: var(--gray300);
                       }
                    } 
                }
            }
    
        &.latest-content {
          .data-box {
              padding: 0;
              overflow-y: scroll;   
             -ms-overflow-style: none;  
              scrollbar-width: none;  
            .touchpoint-data-boxes {
              .detail-data-box {
                max-width: 100%;
              }
            }
          }
        }
      }
   }

        // .journey-box-right{
        //     // width: 100%;
        // }

        .explore-journey {
            .start-btn {
                font-size: 14px;
                min-width: 100px;
                padding: 6px 24px;
            }
    //         .explore-journey-block{
    //             &::before, &::after {
    //                     // height: 0%;
    //             }
                
    //         .explore-journey-block-inner{
    //         .age-filter-block{
    //             // display: none;
    //         }
    //     }
    // }
}

        .col {
            width: 100%;
        }
    }

    .patient-journey {
        gap: 16px;
        margin: 30px 0;
        width: 100%;
        flex-direction: column;

        .line {
            border-top: 0;
            width: 1px;
            border-left: 1px dashed var(--gray);
            height: 30px;
            flex: 0 0 auto;
        }
    }

    .touchpoints-section {
        padding: 0px;
        height: 100%;

        .touchpoint-data {
            .narrative-block {
                &.collapsed {
                    max-height: initial;
                }

                .content {
                    height: 128px;
                    min-height: 128px;
                    overflow: unset;
                    margin-bottom: 40px;

                    div {
                        height: 120px;
                        overflow: hidden;
                    }

                    .read-less-btn,
                    .read-more-btn {
                        height: auto;
                    }

                    &.expanded {
                        div {
                            height: auto;
                        }

                        &:after {
                            height: 0;
                        }
                    }
                }
            }

            .read-less-btn,
            .read-more-btn {
                position: absolute;
                z-index: 9;
                left: 0;
                right: 0;
                bottom: -30px;
                height: auto;
            }
        }

        &.age26 {
            .touchpoint-box {
                border-radius: 20px 20px 0 0;
            }
        }

        .touchpoint-box {
            height: 100%;

            .touchpoints-header {
                padding: 0px 12px;
            }

            .tags {
                flex-direction: column;
                margin-bottom: 35px;
            }

            .touchpoint-box-content {
                padding: 0;
                overflow: unset;
            }

            .touchpoint-box-inner {
                overflow: unset;
            }

            &.resource-container {
                .content-count-box {
                    .content-count {
                        padding: 12px 12px;
                    }

                    .touchpoint-data-boxes {
                        padding: 0 12px;
                    }
                }
            }

        }

        .switch {
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;

            .switch-light {
                >span {
                    span {

                        &:first-child,
                        &:last-child {
                            width: 50%;
                            text-align: center;
                        }
                    }
                }
                
            }
            input[type=checkbox]{
                &:checked {
                    ~ a{
                        &.btn {
        width: 50%;
                        }
    }
                    }
            }
        }

        .journey-link-list {
            white-space: nowrap;
            overflow-x: auto;
            width: calc(100% - 32px) !important;
            padding: 8px 34px 0px 34px;
            margin: 0 auto;

            .journey-link {
                &:last-child {
                    &.active {
                        .user-category {
                            &:after {
                                bottom: 0px;
                                right: -42px;
                                width: 42px;
                                height: 42px;
                                background: transparent;
                                border-radius: 50%;
                                box-shadow: -21px 21px 0 var(--primary-color);
                            }
                        }
                    }
                }

                &.active {
                    &.age0 {
                        .user-category {
                            // fill: rgba(255, 255, 255, 0.02);
                            filter: drop-shadow(0 0 6px rgba(76, 198, 207, 0.80)) !important;
                        }
                    }

                    &.age6 {
                        .user-category {
                            // fill: rgba(255, 255, 255, 0.02);
                            filter: drop-shadow(0 0 6px rgba(125, 184, 168, 0.80)) !important;
                        }
                    }

                    &.age12 {
                        .user-category {
                            // fill: rgba(255, 255, 255, 0.02);
                            filter: drop-shadow(0 0 6px rgba(247, 149, 72, 0.80)) !important;
                        }
                    }

                    &.age18 {
                        .user-category {
                            // fill: rgba(255, 255, 255, 0.02);
                            filter: drop-shadow(0 0 6px rgba(243, 123, 80, 0.80)) !important;
                        }
                    }

                    &.age26 {
                        .user-category {
                            // fill: rgba(255, 255, 255, 0.02);
                            filter: drop-shadow(0 0 6px rgba(233, 66, 98, 0.80)) !important;
                        }
                    }

                    .user-category {
                        fill: rgba(255, 255, 255, 0.02);
                        filter: drop-shadow(0 0 6px rgba(76, 198, 207, 0.8));
                        background: var(--primary-color);
                        border-radius: 18px 18px 0 0;
                        position: relative;

                        &:before {
                            content: "";
                            position: absolute;
                            bottom: 0px;
                            left: -42px;
                            width: 42px;
                            height: 42px;
                            background: transparent;
                            border-radius: 50%;
                            box-shadow: 21px 21px 0 var(--primary-color);
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 0px;
                            left: auto;
                            right: -42px;
                            width: 42px;
                            height: 42px;
                            background: transparent;
                            border-radius: 50%;
                            box-shadow: -21px 21px 0 var(--primary-color);
                        }
                    }
                }

                .user-category {
                    min-width: 120px;
                }
            }

        }

        .patient-journey {
            .switch{
                .switch-light{
                    a{
                    &.btn{
                        width:50%;
                        right:50%;
                    }
                }
                }
            }
            
            .line {
                border-top: 1px dashed var(--gray);
                border-left: 0;
                height: 1px;
                width: 30px;
            }
        }

        .message-info {
            padding: 15px;
            margin: 0 0 25px;
        }
    }

    .content-count-box {
        .touchpoint-data-boxes {
            .detail-data-box {
                width: 100%;
            }
        }
    }

    .no-data {
        width: 100%;
        min-height: 250px;
        padding: 10px;

        h5 {
            font-size: 15px;
            line-height: 20px;
        }
    }

    [data-bs-theme=dark] {
        body {
            background: linear-gradient(90deg, var(--gradient-orange) 0%, var(--gradient-pink) 100%);
        }

        .header {
            &.sticky {
                background: linear-gradient(80deg, var(--gradient-orange) 0%, var(--gradient-pink) 100%);
            }
        }

        .touchpoints-section {
            .journey-link-list {
                .journey-link {
                    &.active {
                        .user-category {
                            background: rgba(255, 255, 255, 0.70);

                            &:before {
                                width: 20px;
                                height: 21px;
                                left: -20px;
                                border-radius: 0;
                                opacity: 0.7;
                                background: url(../assets/images/light-left1.svg) no-repeat;
                                background-size: cover;
                            }

                            &:after {
                                background: url(../assets/images/light-right1.svg) no-repeat;
                                width: 20px;
                                height: 20px;
                                right: -20px;
                                background-size: cover;
                                border-radius: 0;
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }

            &.age0 {
                .journey-link-list {
                    .journey-link {
                        &.active {
                            .user-category {
                                box-shadow: 0 0 8px rgba(76, 198, 207, 0.3);
                            }
                        }
                    }
                }
            }

            &.age6 {
                .journey-link-list {
                    .journey-link {
                        &.active {
                            .user-category {
                                box-shadow: 0 0 8px rgba(125, 184, 168, 0.4);
                            }
                        }
                    }
                }
            }

            &.age12 {
                .journey-link-list {
                    .journey-link {
                        &.active {
                            .user-category {
                                box-shadow: 0 0 8px rgba(247, 149, 72, 0.4);
                            }
                        }
                    }
                }
            }

            &.age18 {
                .journey-link-list {
                    .journey-link {
                        &.active {
                            .user-category {
                                box-shadow: 0 0 8px rgba(243, 123, 80, 0.4);
                            }
                        }
                    }
                }
            }

            &.age26 {
                .journey-link-list {
                    .journey-link {
                        &.active {
                            .user-category {
                                box-shadow: 0 0 8px rgba(233, 66, 98, 0.4);
                            }
                        }
                    }
                }
            }
        }

        .touchpoint-section {
            .journey-link-list {
                .journey-link {
                    &.active {
                        &.age0 {
                            .user-category {
                                filter: none;
                                box-shadow: 0 0 8px rgba(76, 198, 207, 0.3);
                            }
                        }

                        .user-category {}
                    }
                }
            }
        }
    }
.account-section{
    height: 100%;
    .profile{
      .profile-content{
        gap: 15px;
        h4{
            font-size: 20px;
        }
        p{
            font-size: 12px;
            img{
                width: 20px;
                height: 20px;
            }
        }
      }  
    }
    .content-download{
        .download{
          .label{
            img{
                width: 20px;
                height: 20px;
            }
            h6{
                font-size: 12px;
            }
          }
            h5{
                font-size: 18px;
            }  
        }
        .shared{
              .label{
            img{
                width: 20px;
                height: 20px;
            }
            h6{
                font-size: 12px;
            }
          } 
            h5{
                font-size: 18px;
            }
        }
    }
    .account-tabs {
        ul{
          display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;  
          white-space: nowrap;
          gap: 30px;
          scrollbar-width: none;  
          -ms-overflow-style: none; 
            li{
                button{
                    font-size: 11px;
                }
            }
        }
        .touchpoint-data-boxes {
            .detail-data-box{
                width: 100%;
            }
    }
    .tab-content{
        overflow: hidden;
    }
    .detail-data-box{
        .content-box{
            .footer{
                .q-actions{
                    .cancel-btn, 
                    .save-btn{
                        padding: 4px 18px;
                    }
                }
            }
        }
    }
}
}
}

@media (max-width: $layout-breakpoint-extraSmall) {

  .login-left {
    .terms {
      gap: 10px 10px;
    }
  }

  .journey-box {

    .journey-box-right {
      width: 100%;
      flex-direction: column;
    }

    .explore-journey {

      .filter-age {
        height: 634px;

        h3 {
          top: 18px;
          font-size: 20px;
        }

        &::before {
          border-radius: 16px;
          background: linear-gradient(
            172deg,
            #4CC6CF 18.17%,
            #F79548 53.86%,
            #E94262 90.14%
          );
          transform-origin: top center;
          transform: scaleY(0);
          animation: revealGradientMobile 2s ease-out forwards;
        }

        @keyframes revealGradientMobile {
          from { transform: scaleY(0); }
          to   { transform: scaleY(1); }
        }
      }

      .explore-journey-block {

        &::before,
        &::after {
          height: 0%;
        }

        .explore-journey-block-inner {

          .age-filter-block {
            max-width: 78%;
            flex-direction: column;

            p {
              font-size: 12px;
              max-width: 60px;
            }

            .block {
              margin: 26px 0 0;
              flex-direction: row;
              animation: slideLeftToRight 1.2s ease forwards;

              &.age0 {
                margin: 18px 0 0;

                .line {
                  border-top: 1px dashed var(--green);

                  &::after {
                    background: var(--green);
                  }
                }
              }

              &.age12 {
                .line {
                  border-top: 1px dashed var(--gradient-orange);

                  &::after {
                    background: var(--gradient-orange);
                  }
                }

                .age-group-circle {
                  margin: 0 1px 0 0;
                }
              }

              &.age26 {
                .line {
                  border-top: 1px dashed var(--gradient-pink);

                  &::after {
                    background: var(--gradient-pink);
                  }
                }
              }

              .age-gap {
                transform: rotate(-90deg);
                transform-origin: center;
                display: inline-block;
              }

              p {
                margin: 3px 5px 0 0;
              }

              &:nth-child(even) {
                animation: slideRightToLeft 1.2s ease forwards;

                &.age6 {
                  margin: 24px 0 0;

                  .line {
                    border-top: 1px dashed #7DB8A8;

                    &::after {
                      background: #7DB8A8;
                    }
                  }
                }

                &.age18 {
                  margin: 26px 0 0;

                  .line {
                    border-top: 1px dashed #F37B50;

                    &::after {
                      background: #F37B50;
                    }
                  }

                  .age-group-circle {
                    margin: 0 0 0 -2px;
                  }
                }

                p {
                  order: 4;
                  margin: -6px 0 0 5px;
                }

                .line {
                  order: 3;
                  position: relative;
                  width: 40px;
                  height: 1px;

                  &::after {
                    content: "";
                    position: absolute;
                    right: -80px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                  }

                  &::before {
                    display: none;
                  }
                }

                .age-group-circle {
                  order: 2;
                  margin: 0 0 0 6px;
                }
              }

              @keyframes slideRightToLeft {
                from {
                  transform: translateX(300px);
                  opacity: 0;
                }
                to {
                  transform: translateX(0);
                  opacity: 1;
                }
              }

              .line {
                position: relative;
                width: 40px;
                height: 1px;

                &::after {
                  content: "";
                  position: absolute;
                  left: -40px;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 6px;
                  height: 6px;
                  border-radius: 50%;
                }

                &::before {
                  display: none;
                }
              }
            }

            @keyframes slideLeftToRight {
              from {
                transform: translateX(-300px);
                opacity: 0;
              }
              to {
                transform: translateX(0);
                opacity: 1;
              }
            }

            .age-group-circle {
              display: flex;
              width: 60px;
              height: 60px;
              padding: 6px;
              margin: 0 6px 0 0;

              img {
                width: 52px;
              }
            }
          }
        }
      }
    }

    .explore-btn {
      bottom: 10px !important;

      a {
        background: #fff;
        color: #E94262;
        padding: 7px 24px;
      }
      img{
        margin-left: 8px;
      }
    }
  }
  .confirmation{ 
    .confirmation-card.delete{ 
        .confirmation-btn{
          width: 100%;

          button{
            width: 128px;
          }
        }
    }
}
}


