@use "./variable"as *;
@use "./mixin"as *;

@media (max-width: $layout-breakpoint-extraLarge) {
    .login {
        padding: 20px 10px;

        &.sso-login {
            .login-logo {
                img {
                    width: 200px;
                }
            }

            button {
                padding: 13px 25px;
            }
        }
    }
    .touchpoints-section .touchpoint-box .touchpoints-header .touchpoint-links{
        gap:5px;
     
    }
    .touchpoints-section .touchpoint-box .touchpoints-header .touchpoint-links button{
        font-size: 12px;
    }
    .touchpoints-section .touchpoint-box .touchpoints-header .touchpoint-links button img{
        width: 16px;
        height: 16px;
    }
    .content-count-box .content-count{
        gap:25px;
    }
}

@media (max-width: $layout-breakpoint-large) {
    .login {
        &.sso-login {
            .login-logo {
                img {
                    width: 175px;
                }
            }

            .user-name {
                h1 {
                    margin: 25px 0;
                }
            }

        }

        .login-form {
            margin: 15px 0 10px;

            form {
                gap: 20px;

                .form-group {
                    .split-button {
                        >div {
                            &:nth-child(3) {
                                padding: 12px 46px 12px 20px;
                            }
                        }
                    }
                }
            }
        }
    }
     .touchpoints-section .touchpoint-box .touchpoints-header .touchpoint-links{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
      .touchpoints-section .touchpoint-box .touchpoints-header .touchpoint-links button{
        font-size: 12px;
        padding: 7px 10px;
    }
    .touchpoints-section .touchpoint-box .touchpoints-header .touchpoint-links button img{
        width: 14px;
        height: 14px;
    }
    .content-count-box .content-count{
        gap:20px;
    }
    .content-count-box .content-count .filter{
        font-size: 12px;
    }
}

@media (max-width: $layout-breakpoint-medium) {
    .login {
        .login-box {
            .login-logo {
                img {
                    width: 130px;
                }
            }
        }
    }

    h6 {
        font-size: 18px;
    }
    .header .header-account .switch{
    width: 140px;
    }
    .header .header-account .switch .switch-light > span span{
        font-size: 12px;
    }
    .touchpoints-section .journey-link-list .journey-link div {
        font-size: 12px;
    }
    .touchpoints-section .patient-journey {
        gap:10px;
    }
    .touchpoints-section .journey-link-list {
        gap:0;
        margin-left: 0;
    }
    .touchpoints-section .switch{
        flex: 0 0 110px;
    }
    .touchpoints-section .switch .switch-light > span span{
     font-size: 12px;
    }
    .touchpoints-section .journey-link-list .journey-link .user-category {
    min-width: 110px;
    padding: 10px 6px 12px;
}
 .content-count-box .content-count{
    gap: 20px 10px;
    flex-wrap: wrap;
    }
    .login-left{
        padding: 40px;
    }
    .login-left .terms{
        gap: 10px 20px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .login-left .terms div a {
        font-size: 12px;
    }
}

@media (max-width: $layout-breakpoint-small) {
    .login {
        padding: 20px 15px;

        &.sso-login {
            .login-logo {
                img {
                    width: 145px;
                }
            }

            button {
                padding: 10px 19px;
                font-size: 14px;
            }

        }

        .login-box {
            .user-name {
                h6 {
                    margin: 0 0 15px;
                }
            }
        }

        .login-form {
            margin: 15px 0 10px;

            form {
                gap: 20px;

                .form-group {
                    .split-button {
                        >div {
                            &:nth-child(3) {
                                padding: 10px 40px 10px 18px;
                                div{
                                    font-size: 13px;
                                }
                            }
                             &:nth-child(4) {
                                >div{
                                    div{
                                         font-size: 13px;
                                        padding: 6px 10px;
                                    }
                                }
                             }
                        }
                    }

                    label {
                        margin-bottom: 6px;
                        font-size: 13px;
                        span{
                            font-size: 11px;
                        }
                    }
                }

                .text-muted {
                    font-size: 11px;
                }
            }
        }
    }

    h6 {
        font-size: 16px;
    }
    .validation {
    font-size: 13px;
}
}
@media (max-width: $layout-breakpoint-extraSmall) {
    .login-page .row{
            display: flex;
            flex-direction: column;
            // flex-direction: column-reverse;
    }
        .login-left {
        padding: 20px;
        // display: none;
    }
    .login-left .terms{
        gap: 10px 10px;
        margin-bottom: 30px;
    }
    .login-right {
      border-radius: 0;;
    }
    .login-right:before{
        display: none;
    }
  
}
   
