@use "./variable"as *;
@use "./mixin"as *;


@media (max-width: $layout-breakpoint-xextraLarge) {
    
    .login-left {
        background-size: 550px;

        .vwd-journey {
            .vwd-logo {
                img {
                    max-width: 260px;
                }
            }

            p {
                max-width: 542px;
            }
        }
    }
}

@media (max-width: $layout-breakpoint-extraLarge) {
    .login-left {
        background-size: 448px;
        padding: 40px 48px;

        .vwd-journey {
            gap: 8px;

            .vwd-logo {
                img {
                    max-width: 195px;
                }
            }

            h6 {
                font-size: 16px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .login-right {
        .login-box {
            h5 {
                font-size: 20px;

                br {
                    display: none;
                }
            }

            .user-name {
                h3 {
                    font-size: 28px;
                    margin: 0 0 40px;

                    span {
                        font-size: 32px;
                        margin: 4px 0 0;
                    }
                }
            }
        }

        .login-form {
            form {
                gap: 32px;

            }
        }
    }

    .login {
        padding: 20px 10px;

        &.sso-login {
            .login-logo {
                img {
                    width: 200px;
                }
            }

            button {
                padding: 13px 25px;
            }
        }
    }

    .touchpoints-section {
        padding: 0 12px;

        .touchpoint-box {
            .touchpoints-header {
                .touchpoint-links {
                    gap: 5px;

                    button {
                        font-size: 12px;

                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }

    .content-count-box {
        .content-count {
            gap: 25px;
        }

        .touchpoint-data-boxes {
            gap: 2.6rem 3rem;

            .detail-data-box {
                width: calc(33.33% - 2rem);
            }
        }
    }

    .header {
        padding: 0 12px;
    }

    .main-page {
        padding: 0 12px;
    }

    .touchpoints-section {
        .journey-link-list {
            padding: 8px 10px 0px 24px;
            margin-right: -10px;
        }
    }
}

@media (max-width: 1365px) {
    .content-count-box {
        .content-count {
            gap: 18px;
        }

        .touchpoint-data-boxes {
            gap: 2.2rem 2.5rem;

            .detail-data-box {
                width: calc(33.33% - 1.7rem);
            }
        }
    }

    .touchpoints-section {
        .touchpoint-box {
            .touchpoints-header {
                .touchpoint-links {
                    button {
                        padding: 7px 13px;
                    }
                }
            }
        }
    }
}

@media (max-width: $layout-breakpoint-large) {
    .login-left {
        background-size: 350px;
        padding: 30px 35px;

        .terms {
            gap: 20px;

            div {
                a {
                    font-size: 12px;
                }
            }
        }

        .vwd-journey {
            .vwd-logo {
                margin: 0 0 22px;
            }
        }

    }

    .login-right {
        border-radius: 130px 0 0 0;

        &:before {
            left: -270px;
            width: 270px;
            height: 270px;
            border-radius: 41%;
        }

        .login-form {
            margin: 15px 0 10px;

            form {
                max-width: 380px;
                gap: 18px;

                .form-group {
                    .split-button {
                        >div {
                            &:nth-child(3) {
                                padding: 12px 50px 12px 56px;
                            }
                        }

                        &+span {
                            top: 44px;
                        }
                    }
                }

                .message {
                    .text-muted {
                        line-height: 130%;
                    }
                }
            }
        }
    }

    .login {
        &.sso-login {
            .login-logo {
                img {
                    width: 175px;
                }
            }

            .user-name {
                h1 {
                    margin: 25px 0;
                }
            }

        }

        .login-form {
            margin: 15px 0 10px;

            form {
                gap: 20px;

                .form-group {
                    .split-button {
                        >div {
                            &:nth-child(3) {
                                padding: 12px 46px 12px 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .touchpoints-section {
        .touchpoint-box {
            .touchpoints-header {
                padding: 0px 16px;

                .touchpoint-links {
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin: 8px 0 8px;

                    button {
                        font-size: 11px;
                        padding: 7px 8px;
                        line-height: 14px;
                        min-width: auto;

                        img {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
            }

            .touchpoint-box-inner {
                padding: 0 11px 0 16px;
            }

            .tags {
                margin: 0 0 20px;
            }
        }

        .userImg {
            width: 40px;
            height: 40px;
        }

        .patient-journey {
            gap: 12px;
        }

        .journey-link-list {
            // padding: 8px 10px 0px 10px;

            .journey-link {
                .user-category {
                    min-width: 110px;
                    padding: 13px 5px 17px;
                }
            }
        }

        .message-info {
            padding: 18px;
            margin: 0 0 20px;
        }
    }

    .content-count-box {
        .content-count {
            gap: 15px;


            .filter {
                font-size: 11px;
            }
        }

        .touchpoint-data-boxes {
            gap: 2rem 2rem;

            .detail-data-box {
                width: calc(33.33% - 1.4rem);
                min-width: initial;
            }
        }
    }

    .header {
        .header-inner {
            .navbar-brand {
                width: 220px;
            }
        }

        .nav {
            .navbar-nav {
                gap: 30px;
            }
        }
    }

    .tags {
        .tag-list {
            button {
                padding: 0px 0px 0 9px;
                font-size: 13px;
            }
        }
    }

    .btn-primary {
        font-size: 14px;
        padding: 4px 16px;
        min-width: 75px;
    }
    .dark-progress{
        top:16px!important;
        bottom:2px!important;
    }

}

@media (max-width: 991px) {
    .header {
        .nav {
            .navbar-nav {
                flex-direction: row;
            }
        }
    }
}

@media (max-width: $layout-breakpoint-medium) {

    .login {
        .login-box {
            .login-logo {
                img {
                    width: 130px;
                }
            }
        }
    }

    h6 {
        font-size: 18px;
    }

    .header {
        .header-inner{
            padding: 0;
        }
        .nav {
            .navbar-nav {
                flex-direction: row;
            }
        }

        .header-account {
            .switch {
                width: 140px;
                margin: 0 !important;
                display: none;

                &:after {
                    display: none;
                }

                .switch-light {
                    >span {
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }

            .logout {
                display: none;
            }
        }

        .custom-toggler {
            .navbar-toggler-icon {
                filter: drop-shadow(0px 1000px 0 var(--gray));
                transform: translateY(-1000px);
            }
        }
    }

    .touchpoints-section {
        padding: 0px;

        .touchpoint-box {
            .touchpoints-header {
                        padding: 0px 12px;
                .touchpoint-links {
                    gap: 12px;
                    flex-wrap: nowrap;
                    white-space: nowrap;
                    overflow-x: auto;

                    button {
                        font-size: 12px;
                        padding: 8px 16px;
                    }
                }
            }

            // .dummy_data{
            //     max-height: initial!important;
            //     padding:40px 12px 32px!important;
            //     margin:0 0 60px!important;
            //     .close-icon{
            //         padding: 7px 13px!important;
            //     }
            // }
            .touchpoint-box-inner {
                padding: 0 12px;
            }
        }

        .journey-link-list {
            gap: 0.2 !important;
            margin-left: 0;

            .journey-link {
                div {
                    font-size: 12px;
                }

                .user-category {
                    min-width: 100px;
                    padding: 10px 4px 12px;
                }
            }
        }

        .patient-journey {
            gap: 10px;
        }

        .switch {
            flex: 0 0 110px;

            .switch-light {
                >span {
                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .content-count-box {
        .content-count {
            flex-wrap: nowrap;
            overflow-x: auto;
            gap: 30px;
            white-space: nowrap;
            margin: 0 -12px 36px -12px;
            padding:12px 30px 12px 12px;
        }

        .touchpoint-data-boxes {
            .detail-data-box {
                width: calc(50% - 1rem);
            }
        }
    }

    .login-left {
        padding: 20px;
        background-size: 220px;

        .terms {
            gap: 5px 15px;
            flex-wrap: wrap;
            justify-content: flex-start;

            div {
                a {
                    font-size: 10px;
                }
            }
        }

        .vwd-journey {
            h6 {
                font-size: 13px;
            }

            p {
                font-size: 12px;
                line-height: 16px;
            }

            .vwd-logo {
                margin: 0 0 10px;

                img {
                    max-width: 155px;
                }
            }
        }
    }

    .login-right {
        padding: 20px;
        border-radius: 100px 0 0 0;

        &:before {
            left: -250px;
            width: 250px;
            height: 250px;
            border-radius: 32%;
        }

        .login-box {
            .user-name {
                h3 {
                    font-size: 24px;
                    margin: 0 0 25px;
                }
            }

            h5 {
                font-size: 18px;
            }
        }

        .login-form {
            form {
                position: relative;

                .form-group {
                    .split-button {
                        >div {
                            &:nth-child(3) {
                                padding: 10px 50px 10px 48px;
                            }
                        }

                        &+span {
                            left: 18px;
                            top: 33px;

                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    label {
                        margin-bottom: 6px;
                        font-size: 14px;

                        span {
                            font-size: 11px;
                        }
                    }
                }

                .message {
                    padding: 8px 14px 8px 8px;

                    .text-muted {
                        line-height: 130%;
                    }
                }

                .login-switch {
                    .form-label {
                        font-size: 14px;
                        margin: 0 0 7px;
                    }
                    .switch {
                        .switch-light {
                            a{
                                &.btn{
                                    width:95px;
                                    right: 37%;
                                }
                            }
                            input[type="checkbox"]:checked {
                &~a {
                  &.btn {
                    width:57px;
                  }
                }
              }
                        }
                    }
                }

                button {
                    font-size: 14px;
                    padding: 7px 15px;
                    min-width: 125px;
                }
            }
        }
    }

    .login-page {
        &.sso {
            .login-right {
                .login-form {
                    form {
                        .message {
                            margin-bottom: 26px;
                        }

                        button {
                            font-size: 14px;
                            padding: 7px 15px;
                        }
                    }
                }
            }
        }
    }

    .validation {
        margin-top: 5px;
    }

    .custom-offcanvas {
        background: #183B4D;
    }

    .journey-box {
        .explore-journey {
            h5 {
                font-size: 18px;
            }
        }
    }

    .patient-journey {
        .journey-link {
            font-size: 12px;
        }
    }

    .content-count::-webkit-scrollbar,
    .touchpoint-links::-webkit-scrollbar,
    .journey-link-list::-webkit-scrollbar {
        width: 2px;
        height: 3px;
        display: none;
    }

    .no-data {
        gap: 20px;
        min-height: 300px;

        h5 {
            font-size: 20px;
            line-height: 28px;
        }
    }

    [data-bs-theme=dark] {
        .header {
            &.sticky {
                background: linear-gradient(50deg, var(--gradient-orange) 0%, var(--gradient-pink) 100%);
            }

            .custom-toggler {
                .navbar-toggler-icon {
                    filter: none;
                    transform: translateY(0px);
                }
            }
        }

        .touchpoints-section {
            .touchpoint-box {
                &.resource-container {
                    margin-top: 8px;

                    .search-bar {
                        padding: 0 12px;
                    }

                    .tags {
                        padding: 0 12px;
                    }
                }
            }
        }

        .custom-offcanvas {
            .offcanvas-header {
                .btn-close {
                    filter: brightness(0) invert(1);
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: $layout-breakpoint-small) {
    .login {
        padding: 20px 15px;

        &.sso-login {
            .login-logo {
                img {
                    width: 145px;
                }
            }

            button {
                padding: 10px 19px;
                font-size: 14px;
            }

        }

        .login-box {
            .user-name {
                h6 {
                    margin: 0 0 15px;
                }
            }
        }

        .login-form {
            margin: 15px 0 10px;

            form {
                gap: 20px;

                .form-group {
                    .split-button {
                        >div {
                            &:nth-child(3) {
                                padding: 10px 40px 10px 18px;

                                div {
                                    font-size: 13px;
                                }
                            }

                            &:nth-child(4) {
                                >div {
                                    div {
                                        font-size: 13px;
                                        padding: 6px 10px;
                                    }
                                }
                            }
                        }
                    }

                    label {
                        margin-bottom: 6px;
                        font-size: 13px;

                        span {
                            font-size: 11px;
                        }
                    }
                }

                .text-muted {
                    font-size: 11px;
                }
            }
        }
    }

    h6 {
        font-size: 16px;
    }

    .validation {
        font-size: 13px;
    }

    .login-page {
        background: linear-gradient(141deg, #4CC6CF 40.73%, #DF9C5B 64.64%, #F79548 71.06%, #F58B4B 77%, #F06A55 84.67%, #E94262 100%);

        .row {
            flex-direction: column-reverse;
        }

        &.sso {
            .login-right {
                padding: 106px 24px 122px;

                .login-form {
                    margin: 3px 0 0;

                    form {
                        .message {
                            padding: 11px 8px 11px 8px;
                            margin-bottom: 16px;

                            .text-muted {
                                font-size: 12px;
                            }
                        }

                        button {
                            font-size: 16px;
                            padding: 8px 15px;
                        }
                    }
                }
            }
        }
    }

    .login-right {
        min-height: initial;
        padding: 40px 24px 25px;
        border-radius: 0 0 0 80px;
        filter: drop-shadow(0 17px 18px rgba(0, 0, 0, 0.08));

        .login-form,
        .share-modal {
            form {
                .login-switch {
                    .switch {
                        .switch-light {
                            height: 24px;

                            >span {
                                span {
                                    padding: 1px 1px;
                                }
                            }
                             a{
                                &.btn{
                                    width:116px;
                                    right: 34%;
                                    padding:12px;
                                }
                            }
                            input[type="checkbox"]:checked {
                &~a {
                  &.btn {
                    width:60px;
                  }
                }
              }
                        }
                    }

                }
            }
        }

        .login-form {
            margin: 32px 0 10px;

            form {
                gap: 32px;

                .form-group {
                    label {
                        span {
                            font-size: 10px;
                        }
                    }

                    .split-button {
                        +span {
                            left: 24px
                        }

                        >div {
                            &:nth-child(3) {
                                padding: 10px 50px 10px 52px;
                            }
                        }
                    }
                }

                button {
                    font-size: 16px;
                    padding: 8px 15px;
                    min-width: 142px;
                }

            }
        }

        &::before {
            left: auto;
            width: 160px;
            height: 160px;
            border-radius: 64%;
            box-shadow: 89px -74px 0 #ffffff;
            right: 0;
            bottom: -159px;
        }
    }

    .login-left {
        background: none;
        flex-direction: column-reverse;
        padding: 47px 24px 10px;

        .vwd-journey {
            .vwd-logo {
                margin: 0 0 18px;

                img {
                    width: 130px
                }
            }

            h6 {
                font-size: 14px;
                line-height: 18px;
            }

        }

        .terms {
            margin-top: 10px;
        }
    }

    .header {
        padding: 0 12px;

        .header-inner {
            .navbar-brand {
                width: auto;
                margin: 0;

                img {
                    max-width: 65px;
                }
            }

            .header-account {
                flex-direction: column-reverse;
                align-items: flex-end !important;

                .switch {
                    display: none;
                }
            }
        }
    }

    .offcanvas.offcanvas-end {
        width: 100%;
    }

    .journey-box {
        padding: 15px 0px 10px;
        flex-direction: column;
        gap: 15px;

        .explore-journey {
            .start-btn {
                font-size: 14px;
                min-width: 100px;
                padding: 6px 24px;
            }
        }

        .col {
            width: 100%;
        }
    }

    .patient-journey {
        gap: 16px;
        margin: 30px 0;
        width: 100%;
        flex-direction: column;

        .line {
            border-top: 0;
            width: 1px;
            border-left: 1px dashed var(--gray);
            height: 30px;
            flex: 0 0 auto;
        }
    }

    .touchpoints-section {
        padding: 0px;
        .touchpoint-data{
            .narrative-block{
                .content{
                        min-height: 128px;
                }
            }
        } 
        .touchpoint-box {
            .touchpoints-header {
                padding: 0px 12px;
            }

            .tags {
                flex-direction: column;
                margin-bottom: 35px;
            }
        }

        .switch {
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;

            .switch-light {
                >span {
                    span {

                        &:first-child,
                        &:last-child {
                            width: 50%;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .journey-link-list {
            white-space: nowrap;
            overflow-x: auto;
            width: calc(100% - 8px) !important;
            .journey-link {
                .user-category {
                    min-width: 110px;
                }
            }
        
        }

        .patient-journey {
            .line {
                border-top: 1px dashed var(--gray);
                border-left: 0;
                height: 1px;
                width: 30px;
            }
        }

        .message-info {
            padding: 15px;
            margin: 0 0 25px;
        }
    }

    .content-count-box {
        .touchpoint-data-boxes {
            .detail-data-box {
                width: 100%;
            }
        }
    }

    .no-data {
        width: 100%;
        min-height: 250px;
        padding: 10px;

        h5 {
            font-size: 15px;
            line-height: 20px;
        }
    }
}

@media (max-width: $layout-breakpoint-extraSmall) {


    .login-left .terms {
        gap: 10px 10px;
    }

}