@use "./variable" as *;
@use "./mixin" as *;

body {
  background: $primary-color;
  font-family: $sofia-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
  font-family: $fontFamily;
  font-weight: 500;
}
.row{
  .col{
    padding:0;
  }
}
.btn-primary {
  border-radius: 40px;
  background: linear-gradient(97deg, $gradient-orange 0%, $gradient-pink 100%);
  font-size: 16px;
  font-weight: 400;
  border: 0;
  padding: 4px 16px;
  min-width: 87px;
  &:hover, &:active{
    background: linear-gradient(277deg, $gradient-orange 0%, $gradient-pink 100%);
  }
  &.btn-bordered {
    background: transparent;
    border: 1px solid $dark-green;
    color: $dark-green;
    &:hover
    &:active,
    &:focus {
      background: $dark-green;
      color: $white;
      opacity: 1;
    }
  }


}
.login-page{
  background: linear-gradient(112deg, #4CC6CF 0%, #D99E60 19.87%, #F79548 29.43%, #E94262 60.44%);
  min-height:100vh;
  &.sso{
    @include flex-middle;
    .sso-login{
          @include vertical-list;
    justify-content: center;
    box-shadow: -17px 0 18px rgba(0, 0, 0, 0.08);
    max-width: 700px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    border-radius: 20px;
    .login-logo {
      img {
        width: 240px;
      }
    }

    .user-name {
      h1 {
        font-size: clamp(20px, 4vw, 42px);
        margin: 30px 0;
        text-align: center;
        font-weight: 700;
        color: $primary-color;
      }
    }

    button {
      padding: 16px 30px;
    }
  }
    }
  }

.login-left{
  padding:43px 65px;
  height: 100%;
  @include flex-center ;
  flex-direction: column;
  background: url(../images/vwd-background.svg) no-repeat;
  background-position: left 95%;
  .terms{
    @include flex-middle;
    gap:36px;
    div{
      a{
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color:$white;
        text-decoration: none;
        font-family: $sofia-font;
      }
    }
  }
  .vwd-journey{
    gap:42px;
    @include flex-column;
    .vwd-logo{
      text-align: center;
      img{
        max-width: 304px;
        width:100%;
      }
    }
    h6{
    font-family: $sofia-font;
    color:$white;
    font-weight: 300;
    line-height: 26.5px;
    text-align: center;
    margin:0 auto;
    max-width: 576px;
    }
  }
}
.login-right {
  min-height: 100vh;
  @include vertical-list;
  justify-content: center;
  padding: 10px;
  background: $white;
  box-shadow: -17px 0 18px rgba(0, 0, 0, 0.08);
  border-radius: 190px 0 0 0;
  position: relative;
&:before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: -347px;
    width: 347px;
    height: 357px;
    background: transparent;
    border-radius: 49%;
    box-shadow: 164px 168px 0 $white;
}


  .login-box {
    text-align: center;

    .login-logo {
      img {
        width: 150px;
        height: auto;
        margin-bottom: 1rem;
      }
    }

    .user-name {
      h3 {
        font-weight: 300;
        margin: 0 0 40px;
        font-family: $sofia-font;
        strong{
          font-weight: 600;
        }
      }
    }
    h6{
      font-weight: 600;
      font-family: $sofia-font;
      margin:0;
    }
  }

  .login-form {
    margin: 48px 0 10px;

    form {
      max-width: 448px;
      width: 100%;
      margin: 0 auto;
      gap: 48px;
      text-align: left;
      @include flex-column;

      .form-group {
        position: relative;
        label {
          display: block;
          margin-bottom: 12px;
          font-size: 16px;
          color: $text-color;
          font-weight: 600;

          span {
            font-weight: 300;
            font-size: 13px;
          }
        }

        .split-button {
          &.active{
            +span{
              svg{
                path{
                  stroke: #4CC6CF;
                }
              }
            }
          }
          &.error{
              +span{
                svg{
                  path{
                    stroke:#E94262;
                  }
                }
              
            }
          }
          &.error{
            &.active{
              +span{
                svg{
                  path{
                    stroke:#E94262;
                  }
                }
              }
            }
          }
          +span{
            position: absolute;
            top: 44px;
            left: 26px;
          }
          &.error {
            > div {
              &:nth-child(3) {
                box-shadow: 0 0 8px 0 rgba(233, 66, 98, 0.40);
              }
            }
          }

          > div {
            &:nth-child(3) {
              @include split-btn;
              background-size: 15px;

              div {
                padding: 0;
                margin: 0;
                font-size: 15px;
                color: $text-color;
                font-weight: 400;

                div[class*="-placeholder"] {
                  color: $gray;
                }

                &:nth-child(2) {
                  span {
                    display: none;
                  }

                  div {
                    display: none;
                  }
                }
              }
            }

            &:nth-child(4) {
              @include split-btn-dropdown;
            }
          }
        }
      }
      .message{
        border-radius: 8px 12px 12px 8px;
        border-left: 5px solid  #4CC6CF;
        background: rgba(148, 167, 191, 0.06);
        padding:8px 30px 8px 8px;
        @include flex-align-start;
        gap:10px;
      }

      .text-muted {
        font-size: 13px;
        color: $text-color;
        font-weight: 400;
        margin: 0;
      }

      button {
        @include action-button;
      }
    }
  }
}

/***home page css ***/
.custom-container {
  max-width: 1416px;
  margin: 0 auto;
  padding: 0 12px;
}

.header {
  &.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: 62px;
    background: $primary-color;
  }

  .header-inner {
    @include flex-center;
    min-height:62px;

    nav {
      width: 100%;
      padding: 0;
    }
  }

  .navbar-brand {
    img {
      width:65px;
      height: auto;
    }
  }

  .nav {
    .navbar-nav {
      @include flex-align-center;
      gap: 40px;
      margin: 0;

      a {
        color: $gray;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        padding: 21px 0 20px;
        position: relative;
        &.active{
          color: $green;
          // border-top: 3px solid $dark-green;
        }
        &:before{
          content: "";
          width:100%;
          height:4px;
          border-radius: 10px;
          position: absolute;
          top:0;
          left:0;
          background-color: $green;
          opacity: 0;
        }
        &.active, &:hover{
          &:before{
            opacity: 1;
          }
        }
      }
    }
  }

  .header-account {
    gap: 16px;
    @include flex-space-between;

    .switch {
      @include switch;
    }

    .logout {
      gap: 8px;
      border-left: 1px solid rgba(93, 118, 130, 0.5);
      padding-left: 16px;
      min-width: 95px;
      @include flex-space-between;

      .user-avtar {
        line-height: 1;
      }

      span {
        line-height: 16px;

        a {
          color: $pink;
          font-size: 14px;
          font-weight: 400;
          text-decoration: none;

          &:hover {
            color: $pink;
          }
        }
      }
    }
  }
}

.journey-box {
  gap: 24px;
  padding: 5px 12px 10px;
  width: 100%;
  @include flex-wrap;

  .explore-journey {
    width: 100%;
    border-radius: 10px;
    background: $white;
    box-shadow: 0 1px 5.8px 0 rgba(0, 0, 0, 0.12);
    padding: 24px;
    min-height: 584px;
    @include flex-middle;
    flex-direction: column;

    h5 {
      text-transform: capitalize;
    }

    .start-btn {
      @include action-button;
      color: $white;
      text-decoration: none;
      text-align: center;
    }
  }

  .col {
    width: 33.33%;
  }

  .explore-box {
    border-radius: 10px;
    background: $white;
    box-shadow: 0 1px 5.8px 0 rgba(0, 0, 0, 0.12);
    padding: 24px;
    min-height: 200px;
    @include vertical-list;
    justify-content: center;
    cursor: pointer;

    h6 {
      color: $text-color;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 10px;
      font-family: $raleway-font;
    }

    p {
      color: $primary-color;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;
      margin: 0;
    }
  }

  .left-side {
    width: 448px;
    flex: 0 0 448px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .col {
      width: 100%;
      flex: 0 0 auto;
      transform: translateY(2200px);
      opacity: 0;
      animation: slideUp 0.8s normal forwards;
      height: calc(39% - 16px);

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2) {
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        animation-delay: 0.4s;
      }

      .explore-box {
        height: 100%;
        min-height: initial;
      }

      &.explore {
        height: calc(22% - 16px);

        .explore-box {
          min-height: initial;
        }

        h6 {
          margin: 0;
        }
      }
    }
  }

  .flex-row-reverse {
    .right-side {
      animation: scale-up-hor-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0s 1
        normal both;
      width: 100%;
      transition: 2s width linear;
      min-height: 80vh;
    }
  }

  .right-side {
    flex: 1 1;
    border-radius: 10px;
    background: $white;
    box-shadow: 0 1px 5.8px 0 rgba(0, 0, 0, 0.12);
    padding: 24px;
    text-align: left;
    gap: 0px;
    @include flex-column;
    // animation: customAni 2s ease-in-out 0s 1 normal forwards;
    animation: scale-up-hor-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0s 1
      normal both;
    width: 100%;
    transition: 2s width linear;

    .box-top {
      h6 {
        font-size: 16px;
        color: $text-color;
        margin: 0 0 10px;
        font-weight: 700;
        font-family: $raleway-font;
      }

      p {
        font-size: 14px;
        color: $primary-color;
        margin: 0 0 12px;
        font-weight: 500;
      }

      span {
        img {
          cursor: pointer;
        }
      }
    }

    .data-box {
      max-height: 73.8vh;
      overflow-y: auto;
      padding-right: 5px;

      .filter-section {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        position: relative;

        .filter-container {
          text-align: right;

          button {
            padding: 0 0 0 10px;
          }
        }

        .filter-box {
          width: 300px;
          border-radius: 10px;
          background: $white;
          box-shadow: 0 1px 5.8px 0 rgba(0, 0, 0, 0.12);
          padding: 12px;
          position: absolute;
          top: 30px;
          margin-bottom: 10px;
          h6 {
            font-size: 16px;
          }
          > .btn {
            background: $white;
            box-shadow: 0 1px 5.8px 0 rgba(0, 0, 0, 0.12);
            border-radius: 19px;
            border: 0;
          }
          .tags-options {
            background: $white;
            box-shadow: 0 1px 5.8px 0 rgba(0, 0, 0, 0.12);
            border-radius: 19px;
            padding: 38px 10px 10px;
            margin-top: -30px;
            .tags-list {
              max-height: 55px;
              overflow-y: auto;
            }
            .form-check {
              label {
                font-size: 12px;
                font-weight: 500;
                color: $text-color;
              }
            }
          }
          .btn {
            font-size: 12px;
          }
        }
      }
    }

    .detail-data-box {
      margin: 0 0 28px;

      &:last-child {
        margin: 0;
      }

      .age-format {
        @include age-format;

      }

      .content-box {
        @include content-box;
      }
    }

    .ask-ibu-form {
      margin-top: 10px;

      textarea {
        border: 1px solid rgba(24, 59, 77, 0.5);
        height: 143px;
        resize: none;
        border-radius: 0;
        width: 100%;
        margin-bottom: 12px;
      }

      button {
        margin-left: auto;
        display: flex;
      }
    }

    .scroll-list {
      max-height: 482px;
      overflow-y: auto;
      width: 100%;
      padding-right: 3px;

      &.full {
        max-height: 678px;
        max-height: 73.9vh;
      }
    }
  }
}

.patient-journey {
  gap: 16px;
  margin: 45px 0;
  width: 100%;

  .journey-link {
    color: $gray;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }

  .line {
    border-top: 1px dashed $gray;
    width: 100%;
    flex: 1;
    margin-top: auto;
    margin-bottom: 32px;
    &.disabled {
      opacity: 0.4;
    }
  }
}

@keyframes customAni {
  0% {
    transform: translateY(400px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes scale-up-hor-right {
  0% {
    transform: scaleX(0.4) translateY(400px);
    transform-origin: 100% 100%;
  }

  100% {
    transform: scaleX(1) translateY(0px);
    transform-origin: 100% 100%;
  }
}

@keyframes scale-up-hor-left {
  0% {
    transform: scaleX(0.4) translateY(400px);
    transform-origin: 0% 0%;
  }

  100% {
    transform: scaleX(1) translateY(0px);
    transform-origin: 0% 0%;
  }
}

@keyframes scale-up-to-left {
  0% {
    transform: translateX(-165px) translateY(300px);
    transform-origin: 0% 0%;
  }

  100% {
    transform: translateX(0) translateY(0px);
    transform-origin: 0% 0%;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(2040px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidedown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideFade {
  0% {
    transform: translateY(40px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn {
  &:focus-visible,
  &:focus,
  &:active:focus {
    box-shadow: none;
  }
}

/***home page css end ***/

/***Touchpoint page css ***/
.touchpoints-section {
  padding: 0px 12px 10px;

  .switch {
    @include switch;
    margin:18px 0 18px;
    max-width: 155px;
    width:155px;
    flex:0 0 155px;
    .switch-light{
      &> span{
          span{
            &:first-child {
    width: 68px;
}
      &:last-child {
    width: 79px;
}
          }
      } 
    } 
  }

  .patient-journey {
    gap: 28px;
    margin: 0;
  }

  .journey-link-list {
    padding: 0px 0px 0px 24px;
    gap: 8px;
    @include flex-align-center;
    animation: scale-up-to-left 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s 1
      normal both;
    z-index: 2;
    position: relative;

    .journey-link {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      .user-category{
      min-width: 132px;
      padding: 13px 9px 17px;
      }
      span,
      div {
        font-size: 14px;
        line-height: normal;
        display: inline-block;
      }

      &.disabled {
        color: rgba(93, 118, 130, 0.4);
      }
      &.active {
        
        .user-category {
          color: #4cc6cf;
          position: relative;
          background: $white;
          box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.12);
          border-radius: 27px 27px 0 0;
          &:before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: -47px;
            width: 47px;
            height: 47px;
            background: transparent;
            border-radius: 50%;
            box-shadow: 21px 21px 0 $white;
          }

          &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: auto;
            right: -47px;
            width: 47px;
            height: 47px;
            background: transparent;
            border-radius: 50%;
            box-shadow: -21px 21px 0 $white;
          }
        }
      }

      &:last-child {
        &.active {
          .user-category {
            &:after {
              content: "";
              bottom: -22px;
              right: 0px;
              width: 17px;
              height: 30px;
              background: $white;
              border-radius: 0;
            }
          }
        }
      }
    }
  }

 .userImg {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  margin:0 0 4px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.86);
    opacity: 0.4;
    mix-blend-mode: luminosity;
    box-shadow: 0 0 8px 0 rgba(0, 39, 59, 0.50);
  }
}

.journey-link {
  &:not(.disabled):hover,
  &.active {
    img {
      filter: grayscale(0%);
    }
  }
}
  

  .touchpoint-box {
    @include outer-box;
    border-radius: 20px 20px;
    filter: drop-shadow(-3px 4px 12.7px rgba(0, 0, 0, 0.22));
    padding:0 16px;
    &.resource-container {
      .content-count-box {
        margin: 4px 0 0;
      }
    }

    .touchpoints-header,
    .search-bar,
    .tags {
      width: 100%;
    }

    .search-bar {
      margin: 30px 0 12px;

      form {
        position: relative;

        input {
          background: $secondary-color;
          border: 0;
          border-radius: 40px;
          padding: 10px 54px 10px 16px;
          font-size: 14px;
          font-weight: 400;
          color: $text-color;

          &:focus {
            box-shadow: none;
          }
        }

        button {
          border: 0;
          border-radius: 40px;
          background: linear-gradient(97deg, #F79548 0%, #E94262 100%);
          width: 40px;
          height: 40px;
          margin-left: 12px;
          padding:5px 13px 9px;

          img {
            width: 16px;
            height: auto;
          }
        }
      }
    }

    .touchpoints-header {
      .touchpoint-links {
        @include flex-justify-between;
        margin: 0px 0 40px;
        gap: 51px;

        button {
          color: $text-color;
          font-size: 12px;
          font-weight: 500;
          line-height: 122.6%;
          background: #f4f6f9;
          padding: 12px 0;
          width: 100%;
          text-transform: capitalize;
          border-radius: 0;

          &:hover {
            color: #00adba;
            background: rgba(0, 173, 186, 0.1);
            opacity: 1;
          }

          &.active {
            background: #4cc6cf;
            color: $white;
            &:focus {
              opacity: 1;
            }
          }
          &.disabled {
            opacity: 0.4;
            background: #f4f6f9;
          }
        }
      }

      ul {
        margin: 0;
        border: 0;
        gap: 51px;

        li {
          flex: 1 1;
          border: 0;

          input {
            background: $secondary-color;
            border: 0;
            border-radius: 0;
            padding: 12px 54px 12px 24px;
            font-size: 14px;
            font-weight: 500;
            color: $text-color;

            &:focus {
              box-shadow: none;
            }
          }

          //   button {
          //     position: absolute;
          //     top: 50%;
          //     right: 14px;
          //     transform: translateY(-50%);
          //     border: 0;
          //     background: transparent;

          //     img {
          //       width: 16px;
          //       height: auto;
          //     }
          //   }
          .nav-link {
            color: $text-color;
            font-size: 12px;
            font-weight: 500;
            line-height: 122.6%;
            background: $secondary-color;
            padding: 12px 0;
            border-radius: 0;
            border: 0;
            width: 100%;
            text-transform: capitalize;

            &.active,
            &.active:hover {
              background: #4cc6cf;
              color: $white;
            }

            &:hover {
              background: rgba(0, 173, 186, 0.1);
              color: #00adba;
            }

            &.disabled {
              opacity: 0.4;
              background: #f4f6f9;
            }
          }
        }
      }

      .tags {
        gap: 12px;
        font-size: 10px;
        font-weight: 500;
        line-height: 122.6%;
        background: $secondary-color;
        padding: 12px 0;
        border-radius: 0;
        border: 0;
        width: 100%;

        &.active {
          background: #4cc6cf;
          color: $white;
        }
      }
    }
    .tags {
      margin: 0 0 12px;
    }
  }

  .tab-content {
    margin: 40px 0 0;

    .tab-pane {
      &.active {
        animation: slidedown 0.6s normal forwards;
      }
    }
  }
  .touchpoint-data {
    border-radius: 2px;
    border: 1px solid rgba(148, 167, 191, 0.3);
    background: $secondary-color;
    padding: 16px;

    h6 {
      color: $primary-color;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    .narrative-block {
      @include flex-justify-between;
      gap: 16px;

      .content {
        padding: 16px;
        background: $white;
        flex: 1 1;

        p {
          color: $primary-color;
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 11px;
        }

        a {
          font-size: 12px;
          font-weight: 500;
          line-height: 20px;
          color: $primary-color;
          // text-decoration: none;
        }

        ul {
          li {
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            color: $primary-color;
          }
        }
      }
    }
  }

  .no_data {
    margin: 40px 0 0;
    padding: 16px 24px;
    font-size: 20px;
    line-height: 31px;
    color: $gray;
    font-weight: 400;
  }
}

.tags {
  gap: 12px;
  font-size: 10px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 12px 0 40px;
  flex-wrap: wrap;

  .tag-title {
    padding: 2px 6px;
    color: $gray;
    font-size: 14px;
    font-weight: 400;
  }

  .tag-list {
    @include flex-align-center;
    flex-wrap: wrap;
    gap: 8px 12px;
    flex: 1;

    .tag-item {
      padding: 2px 8px;
      border-radius: 24px;
      background: rgba(76, 198, 207, 0.20);
      color: $green;
      font-weight: 400;
      flex-wrap: wrap;
      font-size: 12px;
    }
  }
}

.content-count-box {
  width: 100%;
  border-top: 1px solid $gray;
  padding: 14px 0 0;
  margin: 28px 0 0;

  .content-count {
    @include flex-align-start;
    margin: 0 0 40px;
    gap: 40px;

    div {
      text-align: center;
      color: $text-color;
      font-size: 12px;
      font-weight: 500;
      line-height: 122.6%;
      text-transform: capitalize;

      &.all {
        color: $dark-green;
      }
    }
  }

  .touchpoint-data-boxes {
    gap: 3.4rem 4rem;
    @include flex-wrap;

    .touchpoint-data-box,
    .detail-data-box {
      min-width: 300px;
      width: calc(33.33% - 2.7rem);
      animation: slideFade 0.6s normal forwards;
      opacity: 0;

      .age-format {
        @include age-format;
        margin: 0 0 -6px;
                div{
          margin-left: -6px;
          &:first-child{
            margin-left: 0;
          }
        }
      }

      .content-box {
        @include content-box;
        @include flex-column;
        height: calc(100% - 18px);
        position: relative;
        z-index: 9;
        background: #FDFEFF;
        box-shadow: 0 1px 10px 0 rgba(0, 39, 59, 0.50);
      }
    }
  }
}

/**404 page css ***/
.page-404 {
  background: $secondary-color;
  font-family: $raleway-font;
  gap: 24px;

  h1 {
    font-size: clamp(22px, 4vw, 68px);
    color: $primary-color;
    font-weight: 700;
    margin: 0;
    text-align: center;

    span {
      display: block;
      font-size: clamp(42px, 8vw, 150px);
    }
  }
}

/**404 page css end ***/

/***Account page css ***/
.account-section {
  @include outer-box;
  border-radius: 2px;
  gap: 16px;
  margin: 0 0 15px;

  .profile,
  .content-download {
    border-radius: 10px;
    background: $secondary-color;
    width: 100%;
    padding: 16px;
  }

  .profile {
    @include flex-align-center;
    padding: 29px 16px;
    gap: 24px;

    .profile-img {
      img {
        width: 109px;
        height: 109px;
        border-radius: 50%;
      }
    }

    .profile-content {
      h4 {
        color: $primary-color;
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 7px;
      }

      p {
        color: $text-color;
        font-size: 16px;
        font-weight: 500;
        margin: 0 0 7px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .content-download {
    @include flex-center;
    gap: 16px;

    .download,
    .shared {
      flex: 1 1;
      border-radius: 10px;
      background: $white;
      text-align: center;
      padding: 26px 16px;

      h4,
      p {
        color: $text-color;
        font-size: 20px;
        font-weight: 500;
        margin: 0;
      }

      p {
        font-weight: 700;
        line-height: 1;
      }
    }
  }

  .account-tabs {
    margin: 4px 0 0;

    ul {
      border: 0;
      gap: 40px;
      margin: 8px 0 24px;
      @include flex-align-center;

      li {
        button {
          padding: 0;
          border: 0;
          color: $text-color;
          font-size: 14px;
          font-weight: 600;

          &.active {
            color: #4cc6cf;
          }
        }
      }
    }

    .tab-content {
      border-radius: 10px;
      background: $secondary-color;
      width: 100%;
      padding: 16px;

      .detail-data-box {
        margin: 0 0 30px;
        width: 100%;

        .age-format {
          @include age-format;
        }

        .content-box {
          @include content-box;
          background: $white;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

/***Account page css end ***/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 173, 186, 0.1);
  border-radius: 20px;
  padding: 0 5px;
}

::-webkit-scrollbar-thumb {
  width: 14px;
  background: $dark-green;
  border: 2px solid #dce6ef;
  border-radius: 15px;
}

.validation {
  color: $gradient-pink;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 300;
}

// :not(.btn-check) + .btn:active {
//   background: $dark-green;
//   opacity: 0.8;
// }
:not(.btn-check)+.btn:active:focus-visible {
    box-shadow: none;
}

.no-data-found {
  @include vertical-list;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
  padding: 20px;
  min-height: 200px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: $light-gray;
  background-color: $secondary-color;
  border: 2px dashed #ddd;
  border-radius: 12px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #f1f1f1;
    color: #333;
  }
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(151, 151, 151, 0.37);
  z-index: 9999;
  @include flex-middle;
  div {
    @include shapes;
  }
}
.section-loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(244, 246, 249);
  z-index: 10;
  @include dots;
}
#question:focus {
  box-shadow: none;
  border-color: $dark-green;
}
